@using AllyisApps.ViewModels.ExpenseTracker.Expense
@using AllyisApps.Services

@model ExpenseCreateModel

<div style="display: inline-block;">
	@{
		string uploadName = String.Format("Files[{0}]", Model.Files.Count);
		string uploadId = "upload-box" + Model.Files.Count;
		string uploadFunc = String.Format("$('input[id=upload-box{0}]').click();", Model.Files.Count);
	}
	<input type="file" id="@uploadId" class="@uploadName" name="@uploadName" style="display:none;"
		   onchange="$('#upload-file-name-display').val($(this).val().replace('C:\\fakepath\\', ''));" />
	<input id="upload-file-name-display" class="form-control" style="width: 180px;"
		   onchange="$('#upload-file-name-display').val($(this).val().replace('C:\\fakepath\\', ''));" />
</div>
<a onclick="@uploadFunc" title="Choose Excel file containing Expense Tracker entries" style="float: right;">
	<span class="btn btn-primary">@Strings.ChooseFile</span>
</a>