@using AllyisApps.ViewModels.ExpenseTracker.Expense;

@model ExpenseIndexViewModel
@{ 

}

<div class="form-group pull-right">
    <a  href="@Url.Action("Create")">
        <span class="btn btn-primary">Create Report</span>
    </a>

</div>
<table class="table table-hover">
    <thead >
        <tr class="double-bottom-border">
            <th style="width: 25%">Report Name</th>
            <th style="width: 25%">Submitted Date</th>
            <th style="width: 25%">Status</th>
            <th style="width: 25%">Amount</th>
        </tr>
    </thead>   
    <tbody>
        
        @foreach(ExpenseItemViewModel report in Model.Reports)
        {
            <tr>
                <td>@Html.ActionLink(@report.ReportName,"Edit", new { reportModel = @report }, htmlAttributes: new { @class = "form-inline col-xs-12", @style = "margin-bottom: 20px;" })</td>
                <td>@String.Format("{0:MM-dd-yyyy}", @report.SubmittedDate)</td>
                <td>@report.Status</td>
                <td>@Math.Round(@report.Amount, 2)</td>
            </tr>
        }
    </tbody>
</table>
