﻿@using AllyisApps.Areas.ExpenseTracker.Controllers
@using AllyisApps.Areas.ExpenseTracker.ViewModels.Expense
@using AllyisApps.DBModel.Finance
@using AllyisApps.Services
@using AllyisApps.ViewModels.ExpenseTracker.Expense
@using HtmlHelpers.BeginCollectionItem

@model ExpenseItem

@{ 
	if (this.ViewContext.FormContext == null)
	{
		this.ViewContext.FormContext = new FormContext();
	}
}

<tr id="@String.Format("item-input_{0}", Model.Index)" class="item-div" style="margin: 10px; margin-bottom: 0px;">
	@using (Html.BeginCollectionItem("model.Items"))
	{
		if (String.IsNullOrEmpty(Model.ItemDescription)) // sets default value to checked if item is new
		{
			Model.IsBillableToCustomer = false;
		}
		string amountVal = Model.Amount == 0 ? "" : String.Format("{0:0.00}", Model.Amount);
		string dateVal = Convert.ToDateTime(Model.TransactionDate).ToShortDateString() == "1/1/0001" ? "" : Convert.ToDateTime(Model.TransactionDate).ToShortDateString();
		string itemIdName = String.Format("[{0}].ExpenseItemId", Model.Index);
		string accountName = String.Format("[{0}].AccountId", Model.Index);
		var accountList = (List<AccountDBEntity>)Session["AccountList"];
		var selection = accountList.ToArray().Where(a => a.AccountId == Model.AccountId);
		var selected = selection.Count() == 0 ? accountList.First() : selection.First();
		var selectList = new SelectList(accountList, "AccountId", "AccountName", selected.AccountId);

		<td>
			@Html.HiddenFor(m => m.ExpenseItemId)
			@Html.TextBoxFor(m => m.TransactionDate, new { @class = "updatable datepicker form-control item-control req", Value = dateVal, style = "display: inline-block; width: 150px" })
			@Html.ValidationMessageFor(m => m.TransactionDate)
		</td>
		<td>
			<div class="amount-div form-control item-control" style="display: inline-block; width: 150px;">
				$
				@Html.TextBoxFor(m => m.Amount, new { @class = "updatable amount-textbox req", Value = amountVal, style = "display: inline-block; width: 100px; border: 0px; margin-top: -1px; margin-bottom: 6px;" })
				@Html.ValidationMessageFor(m => m.Amount)
			</div>
		</td>
		<td>
			@Html.TextBoxFor(m => m.ItemDescription, new { @class = "updatable form-control item-control req", Value = Model.ItemDescription, style = "display: inline-block; width: 300px" })
			@Html.ValidationMessageFor(m => m.ItemDescription)
		</td>
		<td>
			@Html.DropDownListFor(m => m.AccountId, selectList, new { @class = "updatable form-control item-control", name = accountName, style = "display: inline-block; width: 150px", Value = Model.AccountId })
		</td>
		<td>
			@Html.CheckBoxFor(m => m.IsBillableToCustomer, new { @class = "updatable form-control item-control check-off", style = "width: 14px; height: 14px; display: inline-block; margin: 10px; vertical-align: middle;" })
		</td>
		<td>
			<a class="btn btn-danger btn-fa hidden-create"
				onclick="removeItem(@Model.Index)"
				style="float: right; width: 34px; color: white !important; border-color: #d43f3a !important; border-radius: 0px; margin-right: 0px;"
				area-label="Close">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</a>
		</td>
	}
</tr>