@using AllyisApps.ViewModels.ExpenseTracker.Expense
@using AllyisApps.Services

@model ExpenseCreateModel
@{
	//Layout = "~/Areas/ExpenseTracker/Views/Expense/Create.cshtml";
	int i = 0;
}

<div>
	@foreach (ExpenseItem item in Model.Items)
	{
		string dateVal = "";
		string amountVal = "";
		if (item.TransactionDate.ToShortDateString() != "1/1/0001")
		{
			dateVal = item.TransactionDate.ToShortDateString();
		}
		if (item.Amount != 0)
		{
			amountVal = item.Amount.ToString();
		}
		string dateName = String.Format("[{0}].TransactionDate", i);
		string nameName = String.Format("[{0}].ExpenseItemName", i);
		string amountName = String.Format("[{0}].Amount", i);
		string checkboxName = String.Format("[{0}].IsBillableToCustomer", i);
		string itemIdName = String.Format("[{0}].ExpenseItemId", i);
		<div class="item-div">
			<input type="hidden" value="@item.ExpenseItemId" name="@itemIdName" />
			<input type="text" value="@dateVal" class="datepicker form-control" name="@dateName" style="display: inline-block; width: 150px" placeholder="Date" />
			<input type="text" value="@item.ExpenseItemName" class="form-control" name="@nameName" style="display: inline-block; width: 150px" placeholder="Name" />
			<input type="text" value="@amountVal" class="form-control" name="@amountName" style="display: inline-block; width: 150px" placeholder="Amount" />
			<label>Payed for by Customer</label>
			<input type="checkbox" checked class="form-control" name="@checkboxName" style="width: 14px; display: inline-block;" />
			<a>
				<span class="btn btn-primary">
					Remove
				</span>
			</a>
		</div>
		i++;
	}
</div>