@using AllyisApps.Services
@using AllyisApps.Areas.ExpenseTracker.ViewModels.Expense

@model ExpenseFileModel
<div class="file-input" style="margin: 10px; margin-bottom: 0px;">
	<div style="display: inline-block;">
		@{
			string className = String.Format("file_{0}", Model.Index);
			string uploadName = String.Format("Files[{0}].FileName", Model.Index);
			string uploadFunc = String.Format("$('input[class={0}]').click();", className);
			string inputName = String.Format("upload-file-name-display_{0}", Model.Index);
		}
		<input type="file" id="@uploadName" class="@className" name="files" style="display:none;" value="@Model.File"
			   onchange="$('#@inputName').val($(this).val().replace('C:\\fakepath\\', ''));" />
		<input id="@inputName" class="form-control item-control" style="width: 210px; display: inline-block;"
			   onchange="$('#@inputName').val($(this).val().replace('C:\\fakepath\\', ''));" />
	</div>
	<div class="file-right" style="float: right;">
		<a onclick="@uploadFunc" title="Choose Excel file containing Expense Tracker entries">
			<span class="btn btn-default btn-group-sm">@Strings.ChooseFile</span>
		</a>
		<a class="btn btn-danger btn-fa hidden-create"
		   onclick="removeFile(@Model.Index)"
		   style="color: white !important; float: right; width: 34px; border-color: #d43f3a !important; border-radius: 0px; margin-right: 0px; display: inline-block">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</a>
	</div>
</div>