@using System.Globalization
@using AllyisApps.ViewModels.ExpenseTracker.Expense;
@using AllyisApps.Services.Expense;

@model AdminReportModel

@{
	Layout = "~/Areas/ExpenseTracker/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Admin Report";
}
@Scripts.Render("~/bundles/jquery")

<div class="row">
	@using (Html.BeginForm(ActionConstants.ViewAdminReport, ControllerConstants.Expense, FormMethod.Post))
	{
		@Html.Hidden("organizationId", Model.OrganizationId)
		@Html.Hidden("subscriptionId", Model.SubscriptionId)

		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="list-left col-sm-2 col-md-2 col-lg-2">
				<label for="Users">@Strings.Employees</label><br />
				@Html.ListBoxFor(m => m.Selection.SelectedUsers,
								Model.Users,
								htmlAttributes: new { @class = "form-control col-md-3 col-lg-3", multiple = "multiple", size = "5", @style = "width: 100%; margin-bottom: 15px;" })
			</div>

			<div class="options-right col-sm-2 col-md-2 col-lg-2">
				<label for="Statuses">Status</label>
				@Html.ListBoxFor(m => m.Selection.Status,
								Model.Statuses,
								htmlAttributes: new { @class = "form-control col-md-3 col-lg-3", size = "5", @style = "width:85%" })
			</div>
			<div class="options-right container col-sm-8 col-md-8 col-lg-8">
				<div class="row">
					<div class="form-group col-md-4 col-lg-4 col-sm-4 form-inline">
						<label style="margin-right:200px">@Strings.StartDate</label><br />
						<div class="input-group" style="width: 90%;">
							<input
								type="text"
								class="datepicker form-control item-control"
								id="StartDate"
								name="StartDate"
								value="@(Model.Selection.StartDate != null ? Model.Selection.StartDate.Value.ToString("d", CultureInfo.InvariantCulture) : "")">

							<div class="input-group-addon" style="cursor: pointer">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
						</div>
					</div>
					<div class="form-group col-md-4 col-lg-4 col-sm-4 form-inline">
						<label style="margin-right:200px">@Strings.EndDate</label><br />
						<div class="input-group" style="width: 90%;">
							<input type="text"
								   class="datepicker form-control item-control"
								   id="EndDate"
								   name="EndDate"
								   value="@(Model.Selection.EndDate != null ? Model.Selection.EndDate.Value.ToString("d", CultureInfo.InvariantCulture) : "")">

							<div class="input-group-addon" style="cursor: pointer">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-7 col-md-7 col-lg-7" style="margin: 0 0 15px 15px;">
					<div>
						<input class="btn btn-primary pull-right" type="submit" name="viewDataButton" value=@Strings.Export title="Export Excel Time Tracker entries" />
					</div>
					<div>
						<input class="btn btn-primary pull-right" type="submit" name="viewDataButton" style="margin-left: 15px;" value=@Strings.Preview title="Preview Excel Time Tracker entries" />
					</div>
				</div>
			</div>
		</div>
	}
</div>

<div class="col-xs-12">

	@if (Model.PreviewReports != null && Model.PreviewReports.Any())
	{
		<div class="panel panel-default">
			<table class="table table-hover table-condensed">
				<thead class="panel-heading">
					<tr class="double-bottom-border">
						<th>Report Name</th>
						<th>User</th>
						<th>Status</th>
						<th>Created</th>
						<th>Modified</th>
					</tr>
				</thead>
				<tbody>
					@foreach (ExpenseReportViewModel rp in Model.PreviewReports)
					{
						<tr class="previewRow">
							<td>@rp.ReportTitle</td>
							<td>@rp.SubmittedById</td>
							<td>@((ExpenseStatusEnum)rp.ReportStatus)</td>
							<td>@rp.CreatedUtc</td>
							<td>@rp.ModifiedUtc</td>
						</tr>
					}

					<tr id="tableEnd" class="nohover">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	}
	else
	{
		<div style="margin-top: 15px;">
			<p>
				No Data to Display...
			</p>
		</div>
	}
</div>

@section css
	{
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="~/Content/DateRangePicker" />
}

@section scripts
{

	@*Date range picker dependencies:*@
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/moment")
	@Scripts.Render("~/bundles/daterangepicker")
	<script type="text/javascript">
		$.fn.singleDatePicker = function() {
			var datepickerElement = this;

			$(datepickerElement).on("apply.daterangepicker", function(e, picker) {
				picker.element.val(picker.startDate.format(picker.locale.format));
			});

			$(datepickerElement).change(function() {
				if (/[a-zA-Z]/.test(datepickerElement.val)) {
					$(datepickerElement).val("");
				}
			});

			$(datepickerElement).siblings(".input-group-addon").click(function() {
				$(datepickerElement).click();
			});

			return $(datepickerElement).daterangepicker({
				singleDatePicker: true,
				showDropdowns: true,
				autoUpdateInput: false
			});
		};

		$(document).ready(function() {
			$(".datepicker").each(function() {
				$(this).singleDatePicker();
			});
		});
	</script>

}