@using AllyisApps.Areas.TimeTracker.Models;
@using AllyisApps.Core;
@using AllyisApps.Services.TimeTracker;
@using AllyisApps.Services.Org;
@model SettingsViewModel

@{
    ViewBag.Title = AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Settings;
    DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
    DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

@section css {
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

}
<div class="col-md-6">
    <div class="panel panel-info" style="width: 400px; margin: 10px auto;">
        <div class="panel-heading">
            <h1 class="panel-title">@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.OrgSOW</h1>
        </div>
        <div class="panel-body" id="SOWSetting">
            @using (Html.BeginForm(ActionConstants.UpdateStartOfWeek, ControllerConstants.TimeEntry, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken();

                <input type="radio" name="startOfWeek" id="sow" value="1" @(Model.StartOfWeek == StartOfWeekEnum.Monday    ? " checked " : string.Empty)><text>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Monday</text><br />
                <input type="radio" name="startOfWeek" id="sow" value="2" @(Model.StartOfWeek == StartOfWeekEnum.Tuesday   ? " checked " : string.Empty)><text>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Tuesday</text><br />
                <input type="radio" name="startOfWeek" id="sow" value="3" @(Model.StartOfWeek == StartOfWeekEnum.Wednesday ? " checked " : string.Empty)><text>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Wednesday</text><br />
                <input type="radio" name="startOfWeek" id="sow" value="4" @(Model.StartOfWeek == StartOfWeekEnum.Thursday  ? " checked " : string.Empty)><text>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Thursday</text><br />
                <input type="radio" name="startOfWeek" id="sow" value="5" @(Model.StartOfWeek == StartOfWeekEnum.Friday    ? " checked " : string.Empty)><text>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Friday</text><br />
                <input type="radio" name="startOfWeek" id="sow" value="6" @(Model.StartOfWeek == StartOfWeekEnum.Saturday  ? " checked " : string.Empty)><text>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Saturday</text><br />
                <input type="radio" name="startOfWeek" id="sow" value="0" @(Model.StartOfWeek == StartOfWeekEnum.Sunday    ? " checked " : string.Empty)><text>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Sunday</text><br />

                <br />
                <input type="submit" value=@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Save class="btn btn-primary" />
            }
        </div>
    </div>
    <div class="panel panel-info" style="width: 400px; margin: 10px auto;">
        <div class="panel-heading">
            <h1 class="panel-title">@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.PClasses</h1>
        </div>
        <div class="panel-body" id="PayClasses">
            @foreach (PayClassInfo PayClass in Model.PayClasses)
            {
                <div style="margin:10px">
                    <div class="pull-left">
                        @(AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.ResourceManager.GetString((PayClass.Name).Replace(" ", string.Empty)) ?? PayClass.Name)
                    </div>
                    <div class="pull-right">
                        <a href="@Url.Action(ActionConstants.DeletePayClass, ControllerConstants.TimeEntry, new { PayClassId = PayClass.PayClassID })">
                            <i class="fa fa-fw fa-remove text-danger"></i>
                        </a>
                    </div>
                    <br />
                </div>
            }
            <div style="margin:10px">
                @using (Html.BeginForm(ActionConstants.CreatePayClass, ControllerConstants.TimeEntry, FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <input type="text" name="NewPayClass" /><input class="pull-right btn btn-primary" type="submit" value="@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Add" />}
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-info" style="width: 400px; margin: 10px auto;">
        <div class="panel-heading">
            <h1 class="panel-title">@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Overtime</h1>
        </div>
        <div id="Overtime" class="panel-body">
            @using (Html.BeginForm(ActionConstants.UpdateOvertime, ControllerConstants.TimeEntry, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken();

                <div id="OTCheck">
                    @{    bool overTimeUsed = Model.Settings.OvertimeHours > 0;
                    }
                    <input type="radio" name="setting" id="setting" value="Yes" onclick="hideOT(false)" @(overTimeUsed ? " checked" : string.Empty) /><text> @AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Yes</text>
                    <input type="radio" name="setting" id="setting" value="No" onclick="hideOT(true)" @(!overTimeUsed ? " checked" : string.Empty) /><text> @AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.No</text>
                </div>

                <div id="OTSettings" style="visibility: @(overTimeUsed ? "visible" : "hidden")">
                    @AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.After
                    <input type="text" id="hours" name="hours" value='@(Model.Settings.OvertimeHours < 0 ? 40 : Model.Settings.OvertimeHours)' style="width: 40px; text-align: right" /> @AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.HoursPer
                    <select id="period" name="period" value='@Model.Settings.OvertimePeriod'>
                        <option value="Day" @(Model.Settings.OvertimePeriod == "Day" ? " selected=true" : string.Empty)>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Day</option>
                        <option value="Week" @(Model.Settings.OvertimePeriod == "Week" ? " selected=true" : string.Empty)>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Week</option>
                        <option value="Month" @(Model.Settings.OvertimePeriod == "Month" ? " selected=true" : string.Empty)>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Month</option>
                    </select><br />
                    @AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.WithAMultiplierOf
                    <input type="text" id="mult" name="mult" value='@Model.Settings.OvertimeMultiplier.ToString("G10")' style="width: 60px; text-align: right" />
                </div>
                <div>
                    <input class="pull-right btn btn-primary" type="submit" value=@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Save />
                </div>
            }
        </div>
    </div>
    <div class="panel panel-info" style="width: 400px; margin: 10px auto;">
        <div class="panel-heading">
            <h1 class="panel-title">@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Holidays</h1>
        </div>
        <div id="Holidays">

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Holiday</th>
                        <th>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Date</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (HolidayInfo Holiday in Model.Holidays)
                {
                    <tr>
                        <td>
                            @(AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.ResourceManager.GetString(((Holiday.HolidayName).Replace(" ", string.Empty)).Replace("'", string.Empty)) ?? Holiday.HolidayName)
                        </td>
                        <td>
                            @Holiday.Date.ToShortDateString()
                        </td>
                        <td>
                            <a href="@Url.Action(ActionConstants.DeleteHoliday, ControllerConstants.TimeEntry, new { HolidayName = Holiday.HolidayName, Date = Holiday.Date})">
                                <i class="fa fa-fw fa-remove text-danger"></i>
                            </a>
                        </td>
                    </tr>
                }
                <tr>
                    @using (Html.BeginForm(ActionConstants.CreateHoliday, ControllerConstants.TimeEntry, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                        <td><input type="text" name="NewHolidayName" /></td>
                        <td><input type="date" name="NewHolidayDate" /></td>
                        <td><input class="pull-right btn btn-primary" type="submit" value=@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Add /></td>
                    }
                </tr>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function hideOT(hideIt) {
            $('#OTSettings').css('visibility', hideIt ? 'hidden' : 'visible');
        }
    </script>
}