@using AllyisApps.ViewModels.TimeTracker.TimeEntry;
@model UserEditViewModel

@{
    ViewBag.Title = AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.EditUser;
    DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
    DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

<div class="shrink-wrap-center">
    <div>
        @using (Html.BeginForm(ActionConstants.UserEdit, ControllerConstants.TimeEntry, FormMethod.Post, new { @class = string.Empty, id = "form1", role = "form", onsubmit = "return userSubmit(this);", name = "EditForm" }))
        {
            <div>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.UserId)
                <div class="form-group">
                    <label for="Name">@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Name</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.UserName)
                </div>
                <div id="swapper-ui" class="swapper-ui">
                    <div class="left">
                        <label>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.OffProjects</label>
                        <input type="text" placeholder=@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.ProjectSearchPlaceholder class="form-control" />
                        <select name="Excluded" id="excluded-projects" multiple="multiple" class="filter-list">
                            @foreach (var project in Model.AllProjects)
                            {
                                var dataEntry = Model.UserProjects.Where(x => x.ProjectId == project.ProjectId).SingleOrDefault();
                                var checkboxValue = dataEntry == null ? false : true;// dataEntry.CanUserProject;
                                if (!checkboxValue)
                                {
                                    var css_class = "out";
                                    @*@Html.HiddenFor(project.CustomerId)
                                        @Html.HiddenFor(project.ProjectId)*@
                                    <option value="@project.ProjectId" class="@css_class" data-search="@project.ProjectName">@project.ProjectName</option>
}
                            }
                        </select>
                    </div>
                    <div class="actions">
                        <a href="javascript: moveSelectedUserEditModal('in')" class="btn btn-default move-in">
                            <i class="fa fa-lg fa-arrow-right"></i>
                        </a>
                        <a href="javascript: moveSelectedUserEditModal('out')" class="btn btn-default move-out">
                            <i class="fa fa-lg fa-arrow-left"></i>
                        </a>
                    </div>
                    <div class="right">
                        <label>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.OnProjects</label>
                        <input type="text" placeholder="Project Search 🔎" class="form-control" />
                        <select name="Included" id="included-projects" multiple="multiple" class="filter-list">
                            @foreach (var project in Model.AllProjects)
                            {
                                var dataEntry = Model.UserProjects.Where(x => x.ProjectId == project.ProjectId).SingleOrDefault();
                                var checkboxValue = dataEntry == null ? false : true;// dataEntry.CanUserProject;
                                if (checkboxValue)
                                {
                                    var css_class = "in";
                                    <option value="@project.ProjectId" class="@css_class" data-search="@project.ProjectName">@project.ProjectName</option>
}
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" value=@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Cancel onclick="location='@Url.Action(ActionConstants.Index, ControllerConstants.Home)'" />
                <input type="submit" value=@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Save class="btn btn-primary" id="submitUser" />
            </div>
        }
    </div><!-- /.modal-content -->
</div>

@section Scripts {
    <script type="text/javascript">
        var update_link = "@Url.Action(ActionConstants.UpdateUserAJAX, ControllerConstants.TimeEntry)";
        var index_link = "@Url.Action(ActionConstants.Index, ControllerConstants.TimeEntry)";
    </script>
    @Scripts.Render("~/bundles/TTTimeEntryUserEdit");
}