@using AllyisApps.ViewModels.Shared;

@model List<LanguageViewModel>

@{
    Layout = string.Empty;
    var CultureName = (string)ViewData["CultureName"];
}

<div class="footer slim" style="max-height:55px">
    <div class="ovrd-row row">
        <p class="footer-links ovrd-col-xs-8 col-xs-8 ovrd-col-sm-6 col-sm-6 col">
            <span class="ovrd-col-xs-12 col-xs-12 ovrd-col-sm-6 col-sm-6 col footer-text">
                <a href="@Url.Action(ActionConstants.PrivacyPolicy, ControllerConstants.Home)">@Strings.PrivacyPolicy</a>
                <a href="@Url.Action(ActionConstants.Help, ControllerConstants.Home)">@Strings.Help</a>
            </span>
        </p>
        <p class="ovrd-col-xs-4 col-xs-4 ovrd-col-sm-6 col-sm-6 col footer-text" style="text-align: right">
            &copy; @DateTime.Now.Year - Allyis, Inc.
        </p>
    </div>
</div>