@using AllyisApps.ViewModels.Shared;

@model List<LanguageViewModel>

@{
    Layout = string.Empty;
    var CultureName = (string)ViewData["CultureName"];
}

@*<footer class="footer">
    <div class="container-fluid text-center text-muted">*@
<div class="footer container" style="max-height:55px">
    <div class="row">
        <p class="footer-links col-xs-8 col-sm-6">
            @*<select class="col-xs-12 col-sm-6 form-control" id="languageSelect" onchange="OnLanguageSelect()" value=@ViewBag.language style="width: inherit;">
                @foreach (LanguageViewModel language in Model.Item1)
                {
                    string languageKey = LanguageViewModel.Clean(language.LanguageName);
                    if (CultureName == language.CultureName)
                    {
                        <option value=@language.CultureName selected>@(Strings.ResourceManager.GetString(languageKey) ?? language.LanguageName)</option>
                    }
                    else
                    {
                        <option value=@language.CultureName>@(Strings.ResourceManager.GetString(languageKey) ?? language.LanguageName)</option>
                    }
                }
            </select >*@
            <span class="col-xs-12 col-sm-6 footer-text">
                <a href="@Url.Action(ActionConstants.PrivacyPolicy, ControllerConstants.Home)">@Strings.PrivacyPolicy</a>
                <a href="@Url.Action(ActionConstants.Help, ControllerConstants.Home)">@Strings.Help</a>
            </span>
        </p>
        <p class="col-xs-4 col-sm-6 footer-text" style="text-align: right">
            &copy; @DateTime.Now.Year - Allyis, Inc.
        </p>
    </div>
</div>

    @*</div>
</footer>*@

@*<script type="text/javascript">
    OnLanguageSelect = function () {
        window.location.href = "@Url.Action(ActionConstants.UpdateLanguage, ControllerConstants.Shared, new { CultureName = -1 } )".replace('-1', $("#languageSelect").val());
    }
</script>*@