@{ Layout = "_LayoutBase.cshtml"; }

<div class="shrink-wrap-center">
	<div class="min300">
		<div class="row" id="title-row">
			@if(!string.IsNullOrEmpty(ViewBag.Title)){<h1 class="text-center">@ViewBag.Title</h1>}
			@if(!string.IsNullOrEmpty(ViewBag.Subtitle)) {<h2 class="text-center">@ViewBag.Subtitle</h2>}
			@if(!string.IsNullOrEmpty(ViewBag.Description)) {<p class="text-center">@ViewBag.Description</p>}
		</div>
		@RenderBody()
	</div>
</div>

@section scripts {@*chain the section to the next layout*@
@RenderSection("scripts", required: false)
}

@section modals {@*chain the section to the next layout*@
@RenderSection("modals", required: false)
}

@section css {@*chain the section to the next layout*@
@RenderSection("css", required: false)
}
