@{
	string title = Strings.ApplicationTitle;
	if (!string.IsNullOrWhiteSpace(ViewBag.Title))
	{
		title = ViewBag.Title + " - " + title;
	}
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/Content/icons/fav128.png?v=2" sizes="128x128" type="image/png" />
	<link rel="icon" href="/Content/icons/fav64.png?v=2" sizes="64x64" type="image/png" />
	<link rel="icon" href="/Content/icons/fav32.png?v=2" sizes="32x32" type="image/png" />
	<link rel="icon" href="/Content/icons/fav16.png?v=2" sizes="16x16" type="image/png" />
	<link rel="shortcut icon" href="favicon.ico?v=2" />
	
	<title>@title</title>
	@Styles.Render("~/Content/Bootstrap")
	@Styles.Render("~/Content/FontAwesome")
	@Scripts.Render("~/bundles/underscore")
	@RenderSection("css", required: false)
	<link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" type="text/css" />
	@if (DisplayHints.LayoutThemeBundle != "~/Content.Site")
	{
		<link href="@Url.Content(DisplayHints.LayoutThemeBundle.Replace("Content/", "Content/css/") + ".css")" rel="stylesheet" type="text/css" />
	}
	<meta name="description" content="@Strings.MetaDescription" />
</head>
<body id="@DisplayHints.PageBodyId" class="body @DisplayHints.PageBodyClasses">
	@Html.Partial("_Header")
	<!-- breadcrumbs partial should be rendered here -->
	@Html.Partial("_NotificationPartial")
	@Html.Partial("_Title")
	@RenderBody()

	@Html.Action(ActionConstants.FooterPartial, ControllerConstants.Shared, new { area = "" })

	@RenderSection("modals", required: false)
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryuoval")
	@Scripts.Render("~/bundles/jquerytransit")
	@Scripts.Render("~/bundles/tether")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>

@section css {@*chain the section to the next layout*@
@RenderSection("css", required: false)
}

@section scripts {@*chain the section to the next layout*@
@RenderSection("scripts", required: false)
}

@section modals {@*chain the section to the next layout*@
@RenderSection("modals", required: false)
}
