model AllyisApps.ViewModels.Shared.LogOnPartialViewModel

@if (User.Identity.IsAuthenticated)
{
	<li>
		<a href="@Url.Action(ActionConstants.Index, ControllerConstants.Account)">@Model.UserName</a>
	</li>
	<li>
		<a href="@Url.Action(ActionConstants.LogOff, ControllerConstants.Account)" title="@Strings.SignOut" onclick="javascript: return confirm('@Strings.LogOffPrompt');">
			@Strings.SignOut &nbsp;<i class="ovrd-fa fa ovrd-fa-sign-outfa-sign-out"></i>
		</a>
	</li>
}
else
{
	<li>
		<a href="@Url.Action(ActionConstants.Register, ControllerConstants.Account, new { returnUrl = ViewBag.ReturnUrl })" id="registerLink">
			@Strings.Register <i class="ovrd-fa fa ovrd-fa-user-plus fa-user-plus"></i>
		</a>
	</li>
	<li>
		<a href="@Url.Action(ActionConstants.LogOn, ControllerConstants.Account, new { returnUrl = ViewBag.ReturnUrl })" id="loginLink">
			@Strings.SignIn <i class="ovrd-fa fa ovrd-fa-sign-in fa-sign-in"></i>
		</a>
	</li>
}