@model AllyisApps.ViewModels.Shared.LogOnPartialViewModel

@{
    Layout = string.Empty;
}

@if (!string.IsNullOrEmpty(Model.UserName))
{
    <li>
        @if (Model.ChosenOrganizationId > 0 && Model.ShowOrganizationPartial)
        {
            @*<a href="@Url.SubdomainLink(ActionConstants.Organizations, ControllerConstants.Account, null, Model.ChosenOrganizationId, this.Request)">@Model.ChosenOrganizationName</a>*@
			<span class="headerOrgName">@Model.ChosenOrganizationName</span>
		}
    </li>

    <li>
        @{
            <a href="@Url.SubdomainLink(ActionConstants.Index, ControllerConstants.Account, new RouteValueDictionary(new {area = ""}), Model.ChosenOrganizationId, this.Request)">@Model.UserName</a>
        }
    </li>
    <li>
        <a href="@Url.SubdomainLink(ActionConstants.LogOff, ControllerConstants.Account, null, 0, this.Request)"
           title="@Strings.SignOut"
           class="btn btn-default navbar-btn col-xs-push-2 col-xs-8 col-sm-12"
           onclick="return promptForLogOff()"
           style="padding: 6px 10px;">
            <i class="fa fa-sign-out"></i>
        </a>
    </li>
}
else
{
    <li>@Html.ActionLink(Strings.Register, ActionConstants.Register, ControllerConstants.Account, new { ReturnUrl = ViewBag.ReturnUrl }, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink(Strings.SignIn, ActionConstants.LogOn, ControllerConstants.Account, new { ReturnUrl = ViewBag.ReturnUrl }, htmlAttributes: new { id = "loginLink" })</li>
}

<script>
    function promptForLogOff() {
        return confirm("@Strings.LogOffPrompt");
    }
</script>
