@model AllyisApps.ViewModels.Shared.LogOnPartialViewModel

@if (!string.IsNullOrEmpty(Model.UserName))
{
	<li>
		<span class="headerOrgName">@Model.OrgProductName</span>
	</li>

	<li>
		@{
			@Html.ActionLink(Model.FirstName + " " + Model.LastName, ActionConstants.Index, ControllerConstants.Account)
		}
	</li>
	<li>
		<a href="@Url.Action(ActionConstants.LogOff, ControllerConstants.Account)" title="@Strings.SignOut" class="btn btn-default navbar-btn col-xs-push-2 col-xs-8 col-sm-12" onclick="return promptForLogOff()" style="padding: 6px 10px;">
			<i class="fa fa-sign-out"></i>
		</a>
	</li>
}
else
{
	<li>@Html.ActionLink(Strings.Register, ActionConstants.Register, ControllerConstants.Account, new { ReturnUrl = ViewBag.ReturnUrl }, htmlAttributes: new { id = "registerLink" })</li>
	<li>@Html.ActionLink(Strings.SignIn, ActionConstants.LogOn, ControllerConstants.Account, new { ReturnUrl = ViewBag.ReturnUrl }, htmlAttributes: new { id = "loginLink" })</li>
}

<script>
    function promptForLogOff() {
        return confirm("@Strings.LogOffPrompt");
    }
</script>
