@model System.Web.Mvc.HandleErrorInfo

@{
    DisplayHints.ShowBreadcrumbs = false;
    ViewBag.SupportEmail = System.Web.Configuration.WebConfigurationManager.AppSettings["SupportEmail"];
}

<div class="jumbotron error">
    <h1>@Strings.Oops</h1>
    <p>@Strings.Offerings</p>
    <p>
        <a href="mailto:@ViewBag.SupportEmail">@ViewBag.SupportEmail</a>
    </p>

    <div class="redirect button" align="center">

        <a href="@Url.Action(ActionConstants.Index, ControllerConstants.Account,new { area = "" })" class="btn btn-default">@Strings.GoHome <i class="fa fa-home"></i></a>
    </div>

    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <p>
            <a href="#errorMessageCollapse" class="btn btn-default" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="errorMessageCollapse">
                @Strings.ViewErrorMessage
            </a>
        </p>

        <div class="collapse" id="errorMessageCollapse">
            <pre class="well" style="display: inline-block;">
                Exception: @Model.Exception.Message
                Controller: @Model.ControllerName
                Action: @Model.ActionName
            </pre>
        </div>
    }
</div>
