@model AllyisApps.ViewModels.TimeTracker.Customer.EditCustomerInfoViewModel

<div class="shrink-wrap-center">
	<div>
		@using (@Html.BeginForm((string)ViewData[ActionConstants.Action], (string)ViewData[ControllerConstants.Controller], FormMethod.Post, new { @class = string.Empty, role = "form" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
			<div class="ovrd-row row">
				<div class="ovrd-col-md-6 col-md-6 col sm-control-width">

					<div class="ovrd-form-group form-group">
						@Html.ReqLabelFor(model => model.CustomerName, Strings.Name)
						@Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "ovrd-form-control form-control" } })
						@Html.ValidationMessageFor(model => model.CustomerName, string.Empty, new { @class = "text-danger" })
					</div>

					<div class="ovrd-form-group form-group">
						@Html.LabelFor(model => model.Address, Strings.Address)
						@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "ovrd-form-control form-control" } })
						@Html.ValidationMessageFor(model => model.Address, string.Empty, new { @class = "text-danger" })
					</div>

					<div class="ovrd-form-group form-group">
						@Html.LabelFor(model => model.City, Strings.City)
						@Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "ovrd-form-control form-control" } })
						@Html.ValidationMessageFor(model => model.City, string.Empty, new { @class = "text-danger" })
					</div>

					<div class="ovrd-form-group form-group">
						@Html.LabelFor(m => m.Country, Strings.Country)
						@Html.DropDownListFor(m => m.SelectedCountryCode, new SelectList(Model.LocalizedCountries, "Key", "Value"), Strings.DropDownEmpty, new { @class = "ovrd-form-control form-control", @id = ViewConstants.DdlCountriesId })
					</div>
					<div class="ovrd-form-group form-group">
						@Html.LabelFor(m => m.State, Strings.State)
						@Html.DropDownListFor(m => m.SelectedStateId, new SelectList(Model.LocalizedStates, "Key", "Value"), Strings.DropDownEmpty, new { @class = "ovrd-form-control form-control", @id = ViewConstants.DdlStatesId })
					</div>

					<div class="ovrd-form-group form-group">
						@Html.LabelFor(model => model.PostalCode, Strings.PostalCode)
						@Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "ovrd-form-control form-control" } })
						@Html.ValidationMessageFor(model => model.PostalCode, string.Empty, new { @class = "text-danger" })
					</div>
				</div>
				<div class="ovrd-col-md-6 col-md-6 col sm-control-width">

					<div class="ovrd-form-group form-group">
						@Html.ReqLabelFor(model => model.ContactEmail, Strings.ContactEmail)
						@Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "ovrd-form-control form-control" } })
						@Html.ValidationMessageFor(model => model.ContactEmail, string.Empty, new { @class = "text-danger" })
					</div>

					<div class="ovrd-form-group form-group">
						@Html.LabelFor(model => model.ContactPhoneNumber, Strings.ContactPhoneNumber)
						@Html.EditorFor(model => model.ContactPhoneNumber, new { htmlAttributes = new { @class = "ovrd-form-control form-control" } })
						@Html.ValidationMessageFor(model => model.ContactPhoneNumber, string.Empty, new { @class = "text-danger" })
					</div>

					<div class="ovrd-form-group form-group">
						@Html.LabelFor(model => model.FaxNumber, Strings.FaxNumber)
						@Html.EditorFor(model => model.FaxNumber, new { htmlAttributes = new { @class = "ovrd-form-control form-control" } })
						@Html.ValidationMessageFor(model => model.FaxNumber, string.Empty, new { @class = "text-danger" })
					</div>

					<div class="ovrd-form-group form-group">
						@Html.LabelFor(model => model.EIN, Strings.EIN)
						@Html.EditorFor(model => model.EIN, new { htmlAttributes = new { @class = "ovrd-form-control form-control" } })
						@Html.ValidationMessageFor(model => model.EIN, string.Empty, new { @class = "text-danger" })
					</div>

					<div class="ovrd-form-group form-group">
						@Html.ReqLabelFor(m => m.CustomerOrgId, Strings.CustomerOrgId)
						@Html.TextBoxFor(m => m.CustomerOrgId, new { @class = "ovrd-form-control form-control", @maxlength = "16", @placeholder = Model.CustomerOrgId })
						@Html.ValidationMessageFor(model => model.CustomerOrgId, string.Empty, new { @class = "text-danger" })
					</div>

					@Html.HiddenFor(m => m.OrganizationId)
					@Html.HiddenFor(m => m.CustomerId)
					@Html.HiddenFor(m => m.IsCreating)
					@Html.HiddenFor(m => m.SubscriptionId)
					@Html.HiddenFor(m => m.AddressId)

					<div class="ovrd-form-group form-group allyis-action-buttons">
						@if ((string)ViewData[ActionConstants.Action] == ActionConstants.Create)
						{
							<a href="@Url.Action(ActionConstants.Index, ControllerConstants.Customer)" class="ovrd-btn btn ovrd-btn-default btn-default">@Strings.Cancel</a>
							<input type="submit" value="@Strings.Create" class="ovrd-btn btn ovrd-btn-primary btn-primary" />
						}
						else
						{
							<a href="@Url.Action(ActionConstants.Index, ControllerConstants.Customer)" class="ovrd-btn btn ovrd-btn-default btn-default">@Strings.Cancel</a>
							<input type="submit" value="@Strings.Save" class="ovrd-btn btn ovrd-btn-primary btn-primary" />
						}
					</div>
				</div>
			</div>
		}
		<br />
		@if ((string)ViewData[ActionConstants.Action] == ActionConstants.Create)
		{
			<div class="ovrd-row row">
				<div class="ovrd-col-md-6 col-md-6 col sm-control-width">
					<label>@Strings.Upload</label>
					@using (Html.BeginForm(ActionConstants.Import, ControllerConstants.Customer, new { subscriptionId = Model.SubscriptionId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
					{
						@Html.AntiForgeryToken();
						<div>
							<input type="file" id="upload-box" name="upload" style="display:none;"
								   onchange="$('#upload-file-name-display').val($(this).val().replace('C:\\fakepath\\', ''));" />
							<input id="upload-file-name-display" class="ovrd-form-control form-control"
								   onchange="$('#upload-file-name-display').val($(this).val().replace('C:\\fakepath\\', ''));" />
						</div>

							<div style="margin-top: 10px; margin-bottom: 15px; float:right;">
								<a class="btn btn-primary" onclick="$('input[id=upload-box]').click();" title="Choose customers Excel entries to upload">@Strings.ChooseFile</a>
								<input style="margin-left: 10px" type="submit" id="upload-button" value="@Strings.Upload" class="ovrd-btn btn ovrd-btn-primary btn-primary" title="Upload customers Excel entries" />
							</div>
					}
					@using (Html.BeginForm(ActionConstants.Template, ControllerConstants.Customer, null, FormMethod.Get, new { style = "display: flex; justify-content: space-between;", id = "template-form" }))
					{
						<div style="margin-top:10px; float:left">
							<input type="submit" form="template-form" id="template-button" value="@Strings.Template" class="ovrd-btn btn ovrd-btn-primary btn-primary" title="Download customers Excel template" />
						</div>
					}
				</div>
			</div>
		}
	</div>
</div>