@model AllyisApps.ViewModels.TimeTracker.Customer.EditCustomerInfoViewModel

@{
    ViewBag.Title = Model.Name;
    DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
}

<div class="row">
    <div class="float-center max-600">
        <div class="col-md-6 xs-control-width float-center">
            <div class="form-group">
                @Html.LabelFor(m => m.Address, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.Address)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.Address)</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.City, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.City)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.City)</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Country, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.Country)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.Country)</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.State, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.State)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.State)</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PostalCode, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.PostalCode)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.PostalCode)</div>
            </div>
        </div>
        <div class="col-md-6 xs-control-width float-center">
            <div class="form-group">
                @Html.LabelFor(m => m.ContactEmail, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.ContactEmail)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.ContactEmail)</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ContactPhoneNumber, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.ContactPhoneNumber)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.ContactPhoneNumber)</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FaxNumber, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.FaxNumber)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.FaxNumber)</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EIN, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.EIN)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.EIN)</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CustomerOrgId, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.CustomerOrgId)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.CustomerOrgId)</div>
            </div>
        </div>
   </div>
</div>
<div class="row md-control-width float-center">
    <div class="form-group allyis-action-buttons">
        <a href="/TimeTracker/Customer" class="btn btn-default">@AllyisApps.Resources.Views.Account.Strings.Back</a>
        @if (Model.canEditCustomers)
        {
            <a class="btn btn-primary" onclick="location='@Url.Action(ActionConstants.Edit, ControllerConstants.Customer, new { id = Model.CustomerID })'">@AllyisApps.Resources.TimeTracker.Views.Project.Strings.Edit</a>
        }
    </div>
</div>
