@using AllyisApps.ViewModels.TimeTracker.Customer;
@using AllyisApps.ViewModels.TimeTracker.Project;

@model ManageCustomerViewModel

@{
	DisplayHints.PageBodyId = "tt-customer";
	ViewBag.Title = Strings.CustomerList;
	ViewData["IsManager"] = Model.CanEdit;
	Layout = "~/Areas/TimeTracker/Views/Shared/_Layout.cshtml";
	var empty = new EditCustomerInfoViewModel { OrganizationId = Model.OrganizationId };
	var emptyProj = new EditProjectViewModel();
	var createButtonClass = !Model.CanEdit ? "invisible" : "";
}

<div class="ovrd-row row">
	<div class="ovrd-col-xs-12 col-xs-12 ovrd-col-md-8 col-md-8 ovrd-col-md-push-2 col-md-push-2 col">
		<div class="allyis-action-buttons-top">

			<input type="text" id="SearchInput" placeholder=@Strings.SearchPlaceholder class="ovrd-form-control form-control">
		</div>

		<div class="flexbox-row flexbox-row-2-col-collapse">
			<div class="ovrd-panel panel ovrd-panel-info panel-info" style="position: relative;">
				<div class="ovrd-panel-heading panel-heading">
					<h1 class="ovrd-panel-title panel-title">@Strings.CustomerList</h1>
				</div>
				<div class="ovrd-panel-body panel-body list-group" id="Customers">
					@foreach (CustomerProjectViewModel customer in Model.Customers)
					{
						<a onclick="PopulateProjects('@customer.CustomerInfo.CustomerId')" class="list-group-item"><text>@customer.CustomerInfo.CustomerName</text></a>
					}
					<br />
				</div>
			</div>
			<div class="ovrd-panel panel ovrd-panel-info panel-info">
				<div class="ovrd-panel-heading panel-heading">
					<h1 class="ovrd-panel-title panel-title">@Strings.Project</h1>
				</div>
				<div id="Projects">
					<!--projects belong to chosen customer will be populated here-->
				</div>
			</div>
			<div>
				<a href="#" class="ovrd-btn btn ovrd-btn-default btn-default @createButtonClass">@Strings.Reactivate <i class="ovrd-fa fa ovrd-fa-plus fa-plus"></i></a>
			</div>
			<div>
				<a href="#" class="ovrd-btn btn ovrd-btn-default btn-default @createButtonClass">@Strings.Reactivate <i class="ovrd-fa fa ovrd-fa-plus fa-plus"></i></a>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script type="text/javascript">
        if (@Model.Customers.Count() > 0)
        {
            $(document).ready(function () {
                PopulateProjects(@Model.Customers.First().CustomerInfo.CustomerId)
            })
        }

        function PopulateProjects(chosenCustomerId) {
            $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("PopulateProjects", "Customer")',
                    data: { customerId: chosenCustomerId },
                    success: function (response) {
                        $("#Projects").empty();
                        $("#Projects").html(response);
                    }
            });
        }
	</script>
}