@using AllyisApps.ViewModels.Shared;

@model List<LanguageViewModel>

@{
    Layout = string.Empty;
}

<footer class="footer">
    <div class="container-fluid text-center text-muted">
        <p class="footer-links col-sm-6">
            <select id="languageSelect" onchange="OnLanguageSelect()" value=@ViewBag.language>
                @foreach(LanguageViewModel language in Model)
                {
                    string languageKey = LanguageViewModel.Clean(language.LanguageName);

                    if (ViewBag.languageName == language.LanguageName)
                    {
                        <option value="@language.LanguageID" selected>@(AllyisApps.Resources.Views.Shared.Strings.ResourceManager.GetString(languageKey) ?? language.LanguageName)</option>
                    }
                    else
                    {
                        <option value="@language.LanguageID">@(AllyisApps.Resources.Views.Shared.Strings.ResourceManager.GetString(languageKey) ?? language.LanguageName)</option>
                    }
                }
            </select>
            &nbsp;
            @Html.ActionLink(AllyisApps.Resources.Views.Shared.Strings.PrivacyPolicy, ActionConstants.PrivacyPolicy, ControllerConstants.Home)
            @Html.ActionLink(AllyisApps.Resources.Views.Shared.Strings.Help, ActionConstants.Help, ControllerConstants.Home)
        </p>
        <p class="col-xs-4 col-sm-5">
            &copy; @DateTime.Now.Year - Allyis, Inc.
        </p>
    </div>
</footer>

<script type="text/javascript">
    OnLanguageSelect = function () {
        window.location.href = "@Url.SubdomainLink(ActionConstants.UpdateLanguage, ControllerConstants.Shared, null, 0, this.Request)".replace(/&amp;/g, "&") + "&languageID=" + $('#languageSelect').val();
    }
</script>