@model AllyisApps.ViewModels.LogOnPartialViewModel

@{
    Layout = string.Empty;
}

@if (!string.IsNullOrEmpty(Model.UserName))
{
    <li>
        @if (Model.ChosenOrganizationId > 0)
        {
            <a href="@Url.SubdomainLink(ActionConstants.OrgIndex, ControllerConstants.Account, null, Model.ChosenOrganizationId, this.Request)">@Model.ChosenOrganizationName</a>
        }
    </li>

    <li>
        @{
                <a href="@Url.SubdomainLink(ActionConstants.Index, ControllerConstants.Account, new RouteValueDictionary(new {area = ""}), Model.ChosenOrganizationId, this.Request)">@Model.UserName</a>
        }
    </li>
    <li>
        <a href="@Url.SubdomainLink(ActionConstants.LogOff, ControllerConstants.Account, null, 0, this.Request)"
           title="@AllyisApps.Resources.Views.Shared.Strings.SignOut"
           class="btn btn-default navbar-btn"
           onclick="return promptForLogOff()">
            <i class="fa fa-sign-out"></i>
        </a>
    </li>
            }
            else
            {
                <li>@Html.ActionLink(AllyisApps.Resources.Views.Shared.Strings.Register, ActionConstants.Register, ControllerConstants.Account, new { ReturnUrl = ViewBag.ReturnUrl }, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink(AllyisApps.Resources.Views.Shared.Strings.SignIn, ActionConstants.LogOn, ControllerConstants.Account, new { ReturnUrl = ViewBag.ReturnUrl }, htmlAttributes: new { id = "loginLink" })</li>
            }

<script>
    function promptForLogOff() {
        return confirm("@AllyisApps.Resources.Views.Shared.Strings.LogOffPrompt");
    }
</script>