@model ManageOrgSideBarViewModel

<ul class="nav nav-pills nav-stacked" style="background-color: #fafafa;">
	<li class="@Model.DetailsActive"><a href="#">Details</a></li>
	<li class="@Model.MembersActive"><a href="#">Members</a></li>
	<li class="@Model.PermissionsActive"><a href="#">Permissions</a></li>
	<li class="@Model.SubscriptionsActive"><a href="#">Subscriptions</a></li>
	<li class="@Model.BillingActive"><a href="#">Billing</a></li>
</ul><br />
<a href="#" class="btn btn-default">< Back</a>
