@using AllyisApps.ViewModels.Auth;

@model SubscriptionDisplayViewModel
@*TODO: Currently mentions of pricing are commented out. When pricing is properly implemented, restore these mentions.
	Also remove the damn hardcoded "free users" numbers.*@
@{
	ViewBag.Title = Strings.Subscriptions;
	ViewBag.ShowAll = true;
	string userDisplay = string.Empty;
	string price = string.Empty;
	if (Model.Info != null)
	{
		userDisplay = string.Format("{0} {1}", Model.Info.NumberOfUsers, Strings.Users);
		price = "";
	}
}

<tr>
	<td width="33%">
		@if (Model.AreaUrl == "ExpenseTracker")
		{
			@Model.ProductName
		}
		else
		{
			<a href="@Url.Action(ActionConstants.Index, ControllerConstants.TimeEntry, new { area = Model.AreaUrl, subscriptionId = Model.SubscriptionId, userId = ViewData["UserId"] })" style="text-decoration: none; color: inherit">
				@string.Format("{0} - {1}", Model.SubscriptionName, Model.ProductName) <i class="fa fa-caret-right"></i>
			</a>
		}
	</td>
	<td style="text-align: center">@userDisplay</td>
	<td class="text-right icon-strip">
		<a href="@Url.Action(ActionConstants.EditSubscription, ControllerConstants.Account, new { id = Model.Info.SubscriptionId })"
			class="text-muted" title="@Strings.EditSubscription" style="color:inherit"><span class="fa fa-fw fa-edit"></span></a>
	</td>
</tr>
