@model ManageOrgSideBarViewModel

<ul class="ovrd-nav nav ovrd-nav-pills nav-pills ovrd-nav-stacked nav-stacked" style="background-color: #fafafa;">
	<li class="@Model.DetailsActive"><a href="#">Details</a></li>
	<li class="@Model.MembersActive"><a href="#">Members</a></li>
	<li class="@Model.PermissionsActive"><a href="#">Permissions</a></li>
	<li class="@Model.SubscriptionsActive"><a href="#">Subscriptions</a></li>
	<li class="@Model.BillingActive"><a href="#">Billing</a></li>
</ul><br />
<a href="#" class="ovrd-btn btn ovrd-btn-default btn-default">< Back</a>
