@model SubscriptionDisplayViewModel
@*TODO: Currently mentions of pricing are commented out. When pricing is properly implemented, restore these mentions.
	Also remove the damn hardcoded "free users" numbers.*@
@{
	ViewBag.Title = Strings.Subscriptions;
	ViewBag.ShowAll = true;
	string userDisplay = string.Empty;
	string price = string.Empty;
	if (Model != null)
	{
		userDisplay = string.Format("{0} {1}", Model.NumberofUsers, Strings.Users);
		price = "";
	}
}

<tr>
	<td class="ovrd-col-md-8 col-md-8 col">@Model.SubscriptionName</td>
	<td class="ovrd-col-md-2 col-md-2 col" style="text-align: center">@userDisplay</td>
	<td class="text-right ovrd-col-md-2 col-md-2 col">
		<a href="@Url.Action(ActionConstants.ManageSubPermissions, ControllerConstants.Account, new { id = Model.SubscriptionId })" class="text-muted" title="@Strings.ManagePermissions" style="color:inherit"><span class="ovrd-fa fa ovrd-fa-fw fa-fw ovrd-fa-unlock fa-unlock"></span></a>
		<a href="@Url.Action(ActionConstants.EditSubscription, ControllerConstants.Account, new { id = Model.SubscriptionId })" class="text-muted" title="@Strings.EditSubscription" style="color:inherit"><span class="ovrd-fa fa ovrd-fa-fw fa-fw ovrd-fa-edit fa-edit"></span></a>
	</td>
</tr>