@using AllyisApps.ViewModels.Auth;

@model SubscriptionDisplayViewModel
@*TODO: Currently mentions of pricing are commented out. When pricing is properly implemented, restore these mentions.
	Also remove the damn hardcoded "free users" numbers.*@
@{
	ViewBag.Title = Strings.Subscriptions;
	ViewBag.ShowAll = true;
	string userDisplay = string.Empty;
	string price = string.Empty;
	if (Model != null)
	{
		userDisplay = string.Format("{0} {1}", Model.NumberofUsers, Strings.Users);
		price = "";
	}
}

<tr>
	<td class="col-md-8">@Model.SubscriptionName</td>
	<td class="col-md-2" style="text-align: center">@userDisplay</td>
	<td class="text-right col-md-2">
		<a href="@Url.Action(ActionConstants.ManagePermissions, ControllerConstants.Account, new { id = Model.OrganizationId })" class="text-muted" title="@Strings.ManagePermissions" style="color:inherit"><span class="fa fa-fw fa-unlock"></span></a>
		<a href="@Url.Action(ActionConstants.EditSubscription, ControllerConstants.Account, new { subscriptionId = Model.SubscriptionId })" class="text-muted" title="@Strings.EditSubscription" style="color:inherit"><span class="fa fa-fw fa-edit"></span></a>
	</td>
</tr>