@using AllyisApps.ViewModels.Auth;

@model SubscriptionDisplayViewModel
@*TODO: Currently mentions of pricing are commented out. When pricing is properly implemented, restore these mentions.
	Also remove the damn hardcoded "free users" numbers.*@
@{
	ViewBag.Title = Strings.Subscriptions;
	ViewBag.ShowAll = true;
	string userDisplay = string.Empty;
	string price = string.Empty;
	if (Model.Info != null)
	{
		userDisplay = string.Format("{0} {1}", Model.Info.NumberOfUsers, Strings.Users);
		price = "";
	}
}

<tr>
	<td class="col-md-9">
		@if (Model.AreaUrl.Equals("expensetracker"))
		{
			@Model.ProductName
		}
		else
		{
			<!--This link has not worked in a while need logic to ensure every subscription has an empty infromation index page 
            <a href="@*Url.RouteUrl(RouteNameConstants.TimeTrackerNoIndex, new { subscriptionId = Model.SubscriptionId, controller = ControllerConstants.TimeEntry, startDate = ViewData["StartDate"], endDate = ViewData["EndDate"] })" style="text-decoration: none; color: inherit">
				*@-->
                @(string.Format("{0}", Model.SubscriptionName)) <i class="fa fa-caret-right"></i>
			<!--</a> -->
		}
	</td>
	<td class="col-md-2" style="text-align: center">@userDisplay</td>
	<td class="text-right icon-strip col-md-1">
		<a href="@Url.Action(ActionConstants.EditSubscription, ControllerConstants.Account, new { subscriptionId = Model.Info.SubscriptionId })"
			class="text-muted" title="@Strings.EditSubscription" style="color:inherit"><span class="fa fa-fw fa-edit"></span></a>
	</td>
</tr>
