@model MembersAndInvitationsTabViewModel

<ul class="nav nav-tabs">
	<li class="@Model.MembersTabActive"><a href="@Url.Action(ActionConstants.OrganizationMembers, ControllerConstants.Account, new { @id = Model.OrganizationId })">@Strings.Members</a></li>
	<li class="@Model.InvitationsTabActive"><a href="@Url.Action(ActionConstants.OrganizationInvitations, ControllerConstants.Account, new { @id = Model.OrganizationId })">@Strings.Invitations</a></li>
</ul>
