@model MembersAndInvitationsTabViewModel

<ul class="nav nav-tabs" style="margin-bottom: 10px;">
	<li class="@Model.MembersTabActive"><a href="@Url.Action(ActionConstants.OrganizationMembers, ControllerConstants.Account, new { @id = Model.OrganizationId })">@Strings.Members (@Model.MemberCount)</a></li>
	<li class="@Model.InvitationsTabActive"><a href="@Url.Action(ActionConstants.OrganizationInvitations, ControllerConstants.Account, new { @id = Model.OrganizationId })">@Strings.Invitations @Model.InvitationCountDisplay</a></li>
	<a href="@Url.Action(ActionConstants.AddMember, ControllerConstants.Account, new { id = Model.OrganizationId })" class="btn btn-default pull-right" title="@Strings.AddMembers">@Strings.AddMembers <i class="fa fa-fw fa-user-plus"></i></a>
</ul>
