@model AllyisApps.ViewModels.Auth.EditOrganizationViewModel
@{
	string action = ActionConstants.EditOrg;
	if (Model.IsCreating)
	{
		action = ActionConstants.CreateOrg;
	}
}

<div class="shrink-wrap-center">
	<div>
		@using (Html.BeginForm(action, ControllerConstants.Account, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
			<div class="row">
				<div class="ovrd-col-md-6 col-md-6 col sm-control-width">
					<div class="form-group">
						@Html.ReqLabelFor(m => m.OrganizationName, Strings.Name)
						@Html.TextBoxFor(m => m.OrganizationName, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.OrganizationName, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.SiteUrl, Strings.SiteURL)
						@Html.TextBoxFor(m => m.SiteUrl, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.SiteUrl, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.PhoneNumber, Strings.PhoneNumber)
						@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.FaxNumber, Strings.FaxNumber)
						@Html.TextBoxFor(m => m.FaxNumber, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.FaxNumber, "", new { @class = "text-danger" })
					</div>
					@if (Model.IsCreating)
					{
						<div class="form-group">
							@Html.ReqLabelFor(m => m.EmployeeId, Strings.EmployeeId)
							@Html.TextBoxFor(m => m.EmployeeId, new { @class = "form-control", @maxlength = "16" })
							@Html.ValidationMessageFor(m => m.EmployeeId, "", new { @class = "text-danger" })
						</div>
					}
					else
					{
						@Html.HiddenFor(m => m.EmployeeId);
					}
				</div>
				<div class="ovrd-col-md-6 col-md-6 col sm-control-width">
					<div class="form-group">
						@Html.ReqLabelFor(m => m.Address, Strings.Address)
						@Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.Country, Strings.Country)
						@Html.DropDownListFor(m => m.SelectedCountryCode, new SelectList(Model.LocalizedCountries, "Key", "Value"), Strings.DropDownEmpty, new { @id = ViewConstants.DdlCountriesId, @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.State, Strings.State)
						@Html.DropDownListFor(m => m.SelectedStateId, new SelectList(Model.LocalizedStates, "Key", "Value"), Strings.DropDownEmpty, new { @id = ViewConstants.DdlStatesId, @class = "form-control" })
						@Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.City, Strings.City)
						@Html.TextBoxFor(m => m.City, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.PostalCode, Strings.PostalCode)
						@Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
					</div>

					@Html.HiddenFor(m => m.AddressId)
					@Html.HiddenFor(m => m.OrganizationId)
					@Html.HiddenFor(m => m.IsCreating)
				</div>
			</div>

			<div class="form-group allyis-action-buttons">
				@if (Model.IsCreating)
				{
					<a href="@Url.Action(ActionConstants.Index, ControllerConstants.Account)" new { class="btn btn-default" }>
						@Strings.Cancel
					</a>
				}
				else
				{
					<a href="@Url.Action(ActionConstants.OrganizationDetails, ControllerConstants.Account, new { id = Model.OrganizationId })" new { class="btn btn-default" }>
						@Strings.Cancel
					</a>
				}
				<input type="submit" value="@Strings.Save" class="btn btn-primary" id="submit" />
			</div>
		}
	</div>
</div>
