@using AllyisApps.Services;
@using AllyisApps.ViewModels.Auth;

@model AllyisApps.ViewModels.Auth.OrganizationMembersViewModel
@Html.HiddenFor(x => x.OrganizationId)

<div class="panel-heading">
	<h1 class="panel-title">
		@Strings.Members: @Model.TotalUsers
		<span class="pull-right panel-title">
			<a href="@Url.Action(ActionConstants.ManagePermissions, ControllerConstants.Account, new { id = Model.OrganizationId })" class="fa fa-fw fa-unlock" title="@Strings.ManagePermissions">  </a>
			<a href="@Url.Action(ActionConstants.AddMember, ControllerConstants.Account, new { id = Model.OrganizationId })" class="fa fa-fw fa-user-plus" title="@Strings.AddMembers"> </a>
		</span>
	</h1>
</div>
<div class="panel-body" style="padding: 0px;">
	<div style="padding: 5px;">
		<span class="col-xs-9" style="padding: 0px;"><input id="org-members-search" type="search" placeholder="🔍 " class="form-control" /></span>
		<span class="col-xs-2 col-xs-push-1" style="vertical-align: middle; padding: 0px;">
			<select id="org-members-role" class="form-control">
				<option>@Strings.Any</option>
				<option>@Strings.Member</option>
				<option>@Strings.Owner</option>
			</select>
		</span>
	</div>
	<table class="table table-hover table-condensed">
		<thead>
			<tr class="double-bottom-border">
				<th style="width: 24%">@Strings.Name</th>
				<th style="width: 24%">@Strings.Email</th>
				<th style="width: 18%">@Strings.EmployeeId</th>
				<th style="width: 15%">@Strings.Role</th>
				<th style="width: 19%"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (InvitationInfo invite in Model.PendingInvitation)
			{
				string pars = "/" + invite.InvitationId + "/" + invite.OrganizationId + "/1";
				<tr class="memberRow">
					<td class="memberSearchProperty">@string.Format("{0} {1} ({2})", invite.FirstName, invite.LastName, Strings.Invited)</td>
					<td class="memberSearchProperty">@invite.CompressedEmail</td>
					<td class="memberSearchProperty">@invite.EmployeeId</td>
					<td class="memberOrgRole">-</td>
					<td class="text-right icon-strip">
						<a href="@Url.Action(ActionConstants.EditMember, ControllerConstants.Account)@pars" title="@Strings.EditEmployee">
							<span class="fa fa-fw fa-edit"></span>
						</a>
					</td>
				</tr>
			}
			@foreach (OrganizationUserViewModel user in Model.DisplayUsers)
			{
				string pars = "/" + user.UserId + "/" + user.OrganizationId + "/0";
				<tr class="memberRow">
					<td class="memberSearchProperty">@user.FullName</td>
					<td class="memberSearchProperty">@user.Email</td>
					<td class="memberSearchProperty">@user.EmployeeId</td>
					<td class="memberOrgRole">@Strings.ResourceManager.GetString(user.PermissionLevel)</td>
					<td class="text-right icon-strip">
						@*@if (Model.CurrentUserId != user.UserId)
						{
							<a href="javascript: void(0);" class="text-muted" title="@Strings.RemoveMember"
								onclick='removeUser("@user.OrganizationId", "@user.UserId", "@user.FullName", false)'><span class="fa fa-fw fa-remove text-danger"></span></a>
						}*@
						<a href="@Url.Action(ActionConstants.EditMember, ControllerConstants.Account)@pars" title="@Strings.EditEmployee">
							<span class="fa fa-fw fa-edit"></span>
						</a>
					</td>
				</tr>
			}
			<tr class="nohover" id="tableEnd">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div class="pageContainer"></div>
</div>
