@using AllyisApps.Services;
@using AllyisApps.ViewModels.Auth;

@model AllyisApps.ViewModels.Auth.OrganizationMembersViewModel

<div class="panel-heading">
    <h1 class="panel-title">
        @AllyisApps.Resources.Views.Account.Strings.Members
        <span class="pull-right panel-title">
            <a href="@Url.Action(ActionConstants.ManagePermissions)" title="@AllyisApps.Resources.Views.Account.Strings.ManagePermissions"><span class="fa fa-fw fa-lg fa-users text-warning"></span></a>
            <a href="@Url.Action(ActionConstants.Add)" title="@AllyisApps.Resources.Views.Account.Strings.AddMembers"><span class="fa fa-fw fa-plus fa-lg text-info"></span></a>
        </span>
    </h1>
</div>
<div class="panel-body" style="padding: 0px;">
    <div style="padding: 5px;">
		<span class="col-xs-9" style="padding: 0px;"><input id="org-members-search" type="search" placeholder="🔍 " class="form-control" /></span>
		<span class="col-xs-2 col-xs-push-1" style="vertical-align: middle; padding: 0px;">
			<select id="org-members-role" class="form-control">
				<option>@AllyisApps.Resources.Views.Account.Strings.Any</option>
				<option>@AllyisApps.Resources.Views.Account.Strings.Member</option>
				<option>@AllyisApps.Resources.Views.Account.Strings.Owner</option>
			</select>
		</span>
    </div>
    <table class="table table-hover table-condensed">
        <thead>
            <tr class="double-bottom-border">
                <th style="width: 24%">@AllyisApps.Resources.Views.Account.Strings.Name</th>
                <th style="width: 24%">@AllyisApps.Resources.Views.Account.Strings.Email</th>
                <th style="width: 18%">@AllyisApps.Resources.Views.Account.Strings.EmployeeId</th>
                <th style="width: 15%">@AllyisApps.Resources.Views.Account.Strings.EmployeeType</th>
                <th style="width: 11%">@AllyisApps.Resources.Views.Account.Strings.Role</th>
                <th style="width: 8%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (InvitationInfo invite in Model.PendingInvitation)
            {
                var displayName = (string.IsNullOrWhiteSpace(invite.FirstName) ? string.IsNullOrWhiteSpace(invite.LastName) ? "" : invite.LastName + " " :
                                    string.IsNullOrWhiteSpace(invite.LastName) ? invite.FirstName + " " : string.Format("{0} {1} ", invite.FirstName, invite.LastName)) + "(" +
                                    AllyisApps.Resources.Views.Account.Strings.Invited + ")";

                <tr class="memberRow">
                    <td class="memberSearchProperty">@displayName</td>
                    <td class="memberSearchProperty">@invite.CompressedEmail</td>
                    <td class="memberSearchProperty" id="invId-@invite.InvitationId">
                        <span class="empId">@invite.EmployeeId</span>
                        <a href="javascript: void(0);" class="text-muted" title="@AllyisApps.Resources.Views.Account.Strings.EditEmployeeID"
                           onclick='editEmployeeId("@invite.OrganizationId", "@invite.InvitationId", "@invite.EmployeeId",false)'><span class="fa fa-fw fa-edit"></span></a>
                    </td>
                    <td class="memberSearchProperty" id="invType-@invite.InvitationId">
                        <span class="empType">@AllyisApps.Resources.Views.Account.Strings.ResourceManager.GetString(invite.EmployeeType == 1 ? "Salaried" : (invite.EmployeeType == 2 ? "Hourly" : "N/A")) </span>
                        <a href="javascript: void(0);" class="text-muted" title="@AllyisApps.Resources.Views.Account.Strings.EditEmployeeType"
                           onclick='editEmployeeType("@invite.OrganizationId", "@invite.InvitationId", "@invite.EmployeeType", false)'><span class="fa fa-fw fa-edit"></span></a>
                    </td>
                    <td class="memberOrgRole">@AllyisApps.Resources.Views.Account.Strings.ResourceManager.GetString(invite.OrgRoleName)</td>
                    <td class="text-right icon-strip">
                        <a href="javascript: void(0);" class="text-muted" title="@AllyisApps.Resources.Views.Account.Strings.RemoveInvitation"
                           onclick='deleteInvitation("@invite.OrganizationId", "@invite.InvitationId")'><span class="fa fa-fw fa-remove text-danger"></span></a>
                    </td>
                </tr>
            }
            @foreach (OrganizationUserViewModel user in Model.DisplayUsers)
                            {
                <tr class="memberRow">
                    <td class="memberSearchProperty">@user.FullName</td>
                    <td class="memberSearchProperty">@user.Email</td>
                    <td class="memberSearchProperty" id="empId-@user.UserId">
						<span class="empId">@user.EmployeeId</span>
						<a href="javascript: void(0);" class="text-muted" title="@AllyisApps.Resources.Views.Account.Strings.EditEmployeeID"
						   onclick='editEmployeeId("@user.OrganizationId", "@user.UserId", "@user.EmployeeId",true)'><span class="fa fa-fw fa-edit"></span></a>
					</td>
                    <td class="memberSearchProperty" id="empType-@user.UserId">
                        <span class="empType">@AllyisApps.Resources.Views.Account.Strings.ResourceManager.GetString(user.EmployeeTypeId == 1 ? "Salaried" : (user.EmployeeTypeId == 2 ? "Hourly" : "N/A")) </span>
                        <a href="javascript: void(0);" class="text-muted" title="@AllyisApps.Resources.Views.Account.Strings.EditEmployeeType"
                           onclick='editEmployeeType("@user.OrganizationId", "@user.UserId", "@user.EmployeeTypeId", true)'><span class="fa fa-fw fa-edit"></span></a>
                    </td>
                    <td class="memberOrgRole">@AllyisApps.Resources.Views.Account.Strings.ResourceManager.GetString(user.PermissionLevel)</td>
                    <td class="text-right icon-strip">
                        @if (Model.CurrentUserId != user.UserId)
                        {

                            <a href="~/Account/ViewUser/@user.UserId" class="text-muted" title="@AllyisApps.Resources.Views.Account.Strings.ViewMemberInfo"><span class="fa fa-fw fa-eye"></span></a>
                            <a href="javascript: void(0);" class="text-muted" title=@AllyisApps.Resources.Views.Account.Strings.RemoveMember
                               onclick='removeUser("@user.OrganizationId", "@user.UserId", "@user.FullName")'><span class="fa fa-fw fa-remove text-danger"></span></a>
                        }
                    </td>
                </tr>
            }
			<tr class="nohover" id="tableEnd">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
        </tbody>
    </table>
    <div class="pageContainer"></div>
</div>

@*@if (Model.TotalUsers > 0)
{
    <input id="hdnCurrentOrg" type="hidden" />
    <input id="hdnSelectedUser" type="hidden" />
    <div class="table-wrap" style="max-height: 70vh; overflow-y: auto;">
        <table class="table table-hover table-condensed" style="margin: 0;">
            <thead>
                <tr>
                    <th>@AllyisApps.Resources.Views.Account.Strings.Name</th>
                    <th>@AllyisApps.Resources.Views.Account.Strings.Email</th>
                    <th>@AllyisApps.Resources.Views.Account.Strings.EmployeeId</th>
                    <th>@AllyisApps.Resources.Views.Account.Strings.Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="org-members-list">
                @{
                    var memberPage = 0;
                    var minGroupSpot = memberPage * Model.PageSize;
                    var maxGroupSpot = ((memberPage + 1) * Model.PageSize) - 1;
                    var count = 0;
                    var pageCount = 1;
                    var hide = string.Empty;

                    foreach (InvitationInfo invite in Model.PendingInvitation)
                    {
                        var firstName = invite.FirstName;
                        var lastName = invite.LastName;
                        var email = invite.Email;
                        var displayEmail = invite.CompressedEmail;
                        var accessCode = invite.AccessCode;

                        var displayName = (string.IsNullOrWhiteSpace(firstName) ? string.IsNullOrWhiteSpace(lastName) ? "" : lastName + " " :
                                string.IsNullOrWhiteSpace(lastName) ? firstName + " " : string.Format("{0} {1} ", firstName, lastName)) + "(" +
                                AllyisApps.Resources.Views.Account.Strings.Invited + ")";

                        pageCount = 1 + (count / Model.PageSize);
                        if (count >= minGroupSpot && count <= maxGroupSpot)
                        {
                            hide = string.Empty;
                        }
                        else
                        {
                            hide = "hidden";
                        }

                        <tr data-page="@pageCount" @hide>
                            <td>
                                @displayName
                            </td>
                            @*<td class="text-left">
                                    @firstName @lastName<span class="user-email">(@displayEmail)</span>
                                </td>*@@*
                            <td>@displayEmail</td>
                            <td>@invite.EmployeeId</td>
                            <td class="text-left">
                                @invite.OrgRoleName
                            </td>
                            <td class="text-right icon-strip">
                                <a href="javascript: void(0);" class="text-muted" title="@AllyisApps.Resources.Views.Account.Strings.RemoveInvitation"
                                   onclick='deleteInvitation("@invite.OrganizationId", "@invite.InvitationId")'><span class="fa fa-fw fa-remove text-danger"></span></a>
                            </td>
                        </tr>
                        count++;
                    }

                    //foreach (var user in usergroup)
                    foreach (var user in query)
                    {
                        pageCount = 1 + (count / Model.PageSize);
                        if (count >= minGroupSpot && count <= maxGroupSpot)
                        {
                            hide = string.Empty;
                        }
                        else
                        {
                            hide = "hidden";
                        }

                        <tr data-page="@pageCount" @hide>
                            <td class="text-left">
                                @user.FullName @*<span class="user-email">(@user.UserInfo.Email)</span>*@@*
                            </td>
                            <td>
                                @user.Email
                            </td>
                            <td class="text-left">
                                @user.EmployeeId
                            </td>
                            <td class="text-left">
                                @AllyisApps.Resources.Views.Account.Strings.ResourceManager.GetString(user.PermissionLevel)
                            </td>
                            <td class="text-right icon-strip">
                                @if (Model.CurrentUserId != user.UserId)
                                {
                                    <a href="javascript: void(0);" class="text-muted" title="@AllyisApps.Resources.Views.Account.Strings.RemoveMember"
                                       onclick='removeUser("@user.OrganizationId", "@user.UserId", "@user.FullName")'><span class="fa fa-fw fa-remove text-danger"></span></a>
                                }
                            </td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    </div>
    <div id="footPager" style="display: flex; justify-content: center;">
        @if (Model.TotalUsers > Model.PageSize)
        {
            var page = 1;
            <input id="page @page" name="pageButton" type="button" value="@page" onClick="showPage(@page)" style="margin: 5px;" disabled="" />
            page++;
            while (page <= Model.PageCount)
            {
                <input id="page @page" name="pageButton" type="button" value="@page" onClick="showPage(@page)" style="margin: 5px;" />
                page++;
            }
        }
    </div>*@
