@using AllyisApps.ViewModels.Auth
@using AllyisApps.Services

@model UserOrgViewModel

@{
    Organization details = Model.PanelInfo.OrgInfo;
    string title = details.OrganizationName;
    string subtitle = details.SiteUrl ?? "";
    var cityState = details.City != null && details.State != null ? details.City + ", " + details.State : details.City + details.State;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 style="margin-top: 0px; margin-bottom: 0px;">
                    @title
                    @if (Model.PanelInfo.CanEditOrganization)
                    {
                        <a href="@Url.Action(ActionConstants.ManageOrg, ControllerConstants.Account, new { id = Model.PanelInfo.OrgInfo.OrganizationId })" title="@Strings.EditOrganization" class="pull-right text-muted">
                            <i class="fa fa-cog  fa-lg"></i>
                        </a>
                    }
                </h2>
            </div>
            <div class="panel-body">
                <div class="col-sm-8 index-details">
                    <p>
                        <label>@Strings.PhoneNumber:</label>
                        @details.PhoneNumber
                    </p>
                    <p>
                        <label>@Strings.Address:</label>
                        <span class="address-row">@details.Address</span>
                        <span class="address-row">@cityState @details.PostalCode</span>
                    </p>
                </div>
                <div class="col-sm-4 index-details">
                    <p>
                        <label>@Strings.Website:</label>
                        @{
                            string orgWebSite = subtitle;
                            if (!(subtitle == null || subtitle == "")) {
                                if (!subtitle.StartsWith("http")) {
                                    orgWebSite = "http://" + subtitle;
                                }
                            <a href="@orgWebSite" target="_blank">@subtitle</a>
                                }
                        }
                    </p>
                    <p>
                        <label>@Strings.Fax:</label>
                        @details.FaxNumber
                    </p>
                </div>
                <div class="col-md-12" style="height: 100%; margin-top:15px; display: flex; flex-wrap: wrap; justify-content: space-around; clear: both;">
					@foreach (SubscriptionDisplayViewModel sub in Model.PanelInfo.Subscriptions)
					{
						<div class="square-box">
                            <a href="@Url.Action(RouteNameConstants.TimeTrackerNoIndex, ControllerConstants.TimeEntry, new { subscriptionId = @sub.SubscriptionId, startDate = ViewBag.StartDate, endDate = ViewBag.EndDate } )" style="text-decoration: none">
							<!--<a href="Url.RouteUrl(RouteNameConstants.TimeTrackerNoIndex, new { subscriptionId = @sub.SubscriptionId, controller = ControllerConstants.TimeEntry, startDate = ViewBag.StartDate, endDate = ViewBag.EndDate})" style="text-decoration: none">-->
								<div class="panel panel-default">
									<div class="btn default" style="text-align:center; margin:10px;">
										<div class="center-block" text-align: center; vertical-align: middle;" style="margin-top:5px;">
											<img src="~/@string.Format("Content/icons/{0}.png", @sub.ProductName.Replace(" ", ""))" alt="@sub.ProductName" />
										</div>

										<h3>
											@sub.ProductName
										</h3>
										<p>
											@sub.SubscriptionName
										</p>
									</div>
								</div>
							</a>
						</div>
					}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
</div>
