@model AllyisApps.ViewModels.Auth.AddMemberViewModel

@{
	ViewBag.Title = Strings.AddMember;
}

<div class="shrink-wrap-center">
	<div>
		@using (Html.BeginForm(ActionConstants.AddMember, ControllerConstants.Account, FormMethod.Post, new { organizationId = "OrgAddForm" }))
		{
			@Html.AntiForgeryToken()
			@Html.HiddenFor(m => m.OrganizationId)
			@Html.ValidationSummary(true)
			<div class="row">
				<div class="col-md-6 sm-control-width">
					<div class="form-group">
						@Html.ReqLabelFor(model => model.Email, Strings.Email)
						@Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(model => model.EmployeeId, Strings.EmployeeId)
						@Html.TextBoxFor(model => model.EmployeeId, new { @class = "form-control", @maxlength = "16", @placeholder = Model.EmployeeId })
						@Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="col-md-6 sm-control-width">

					<div class="form-group">
						@Html.ReqLabelFor(model => model.FirstName, Strings.FirstName)
						@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(model => model.LastName, Strings.LastName)
						@Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
					</div>

					<div class="form-group">
						<div class="text-right">
							<span style="margin-right: 5px;">@Strings.AddAsOwner</span>
							@Html.CheckBoxFor(m => m.AddAsOwner, new { @style = "display: inline;" })
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group allyis-action-buttons pull-right">
                        <a href="@Url.Action(ActionConstants.ManageOrg, ControllerConstants.Account, new { id = Model.OrganizationId })" new { class="btn btn-default" }> @Strings.Cancel </a>
						<input type="submit" id="addMember" value="@Strings.Add" class="btn btn-primary" />
					</div>
				</div>
			</div>
		}
		<div class="row">
			<div class="col-md-6 sm-control-width">
				<label>@Strings.AddMultipleMembers</label>
				@using (Html.BeginForm(ActionConstants.Import, ControllerConstants.Account, new { id = Model.OrganizationId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
				{
					@Html.AntiForgeryToken();
					<div>
						<input type="file" id="upload-box" name="upload" style="display:none;"
							   onchange="$('#upload-file-name-display').val($(this).val().replace('C:\\fakepath\\', ''));" />
						<input id="upload-file-name-display" class="form-control"
							   onchange="$('#upload-file-name-display').val($(this).val().replace('C:\\fakepath\\', ''));" />
					</div>

					<div style="margin-top: 10px; margin-bottom: 15px; float:right;">
						<a class="btn btn-primary" onclick="$('input[id=upload-box]').click();">@Strings.ChooseFile</a>
						<input style="margin-left: 10px" type="submit" id="upload-button" value="@Strings.Upload" class="btn btn-primary" />
					</div>
				}
				@using (Html.BeginForm(ActionConstants.Template, ControllerConstants.Account, null, FormMethod.Get, new { id = "template-form" }))
				{
					<div style="margin-top: 10px; margin-bottom: 15px; float:left">
						<input type="submit" form="template-form" id="template-button" value="@Strings.Template" class="btn btn-primary" />
					</div>
				}
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/AccountAdd");
}
