@model AllyisApps.ViewModels.Auth.ChangePasswordViewModel
@{
	Layout = "~/Views/Shared/_LayoutJustAForm.cshtml";
	ViewBag.Title = AllyisApps.Resources.Views.Account.Strings.ChangePassword;
}

@using (Html.BeginForm(ActionConstants.ChangePassword, ControllerConstants.Account, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
    <strong id="capsWarningDiv" style="visibility:hidden">@AllyisApps.Resources.Views.Account.Strings.CapsLock</strong>
	<div class="form-group">
		@Html.ReqLabelFor(m => m.OldPassword, AllyisApps.Resources.Views.Account.Strings.OldPassword)
		@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @onkeypress = "capsCheck(event)", @onkeydown = "capsCheck(event)" })
        @Html.ValidationMessageFor(m => m.OldPassword)
	</div>
	<div class="form-group">
		@Html.ReqLabelFor(m => m.NewPassword, AllyisApps.Resources.Views.Account.Strings.NewPassword)
		@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @onkeypress = "capsCheck(event)", @onkeydown = "capsCheck(event)" })
        @Html.ValidationMessageFor(m => m.NewPassword)
	</div>
	<div class="form-group">
		@Html.ReqLabelFor(m => m.ConfirmPassword, AllyisApps.Resources.Views.Account.Strings.NewPasswordConfirm)
		@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @onkeypress = "capsCheck(event)", @onkeydown = "capsCheck(event)" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
	</div>

	<div class="form-group allyis-action-buttons">
		<a href="@Url.Action(ActionConstants.Index, ControllerConstants.Account )" class="btn btn-default">@AllyisApps.Resources.Views.Account.Strings.Cancel</a>
		<input type="submit" class="btn btn-primary" value=@AllyisApps.Resources.Views.Account.Strings.ChangePassword />
	</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/CapsCheck");
}
