@model ConvertToEmployerViewModel

@{
	ViewBag.Title = "Convert to Employer/School Account";
}

<div class="container">
	<p>Your Allyis Apps local account is: @Model.Email</p>
	<p>If you want to use your employer/school account for login, please choose one of the Convert options below. Please note that converting to an employer account is <b>irreversible</b>! All your data will be retained, but after conversion, you can use only your employer account to login. If you don't want to convert, click Cancel</p>
</div>
<div class="container">
	<div class="row" style="margin-top:20px;">
		<div class="col-md-9">
			My employer/school account is also: @Model.Email, provided by Microsoft.
		</div>
		<div class="col-md-3 pull-right">
			<a href="@Url.Action(ActionConstants.ConvertToMicrosoft, ControllerConstants.Account)" class="btn btn-primary"><img src="~/Content/icons/msft-logo.png" />&nbsp;&nbsp;&nbsp;&nbsp;Convert to Microsoft Account</a>
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-9">
			My personal/employer/school account is also: @Model.Email, provided by Google.
		</div>
		<div class="col-md-3 pull-right">
			<a href="@Url.Action(ActionConstants.ConvertToGoogle, ControllerConstants.Account)" class="btn btn-default"><img src="~/Content/icons/google-logo.png" />&nbsp;&nbsp;&nbsp;&nbsp;Convert to Google Account</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="pull-left">
		<a href="@Url.Action(ActionConstants.Index, ControllerConstants.Account)" class="btn btn-default">@Strings.Cancel</a>
	</div>
</div>
