@model AllyisApps.ViewModels.Auth.EditSubscriptionViewModel
@{
	ViewBag.Title = Strings.EditSubscription;

}

<div class="row">
	<div class="col-md-6 col-md-push-3">
		<div class="col-md-12 text-center">
			<img src="~/@Model.SkuIconUrl" alt="@Model.ProductName" style="margin-right:5px;" />
			<h2 style="display:inline-block;">
				@Model.ProductName
			</h2>
		</div>
		<div class="col-md-10 col-md-push-1" style="margin-top:20px;">
			<div class="col-md-12">
				@Model.SkuDescription
			</div>

			<div>
				@using (Html.BeginForm(ActionConstants.EditSubscription, ControllerConstants.Account, new { id = Model.SubscriptionId }, FormMethod.Post, new { @class = "col-md-12", @style = "margin-top:20px;display: inline-block" })) // , @onsubmit = String.Format("return confirm(\"{0}\")", Html.Raw(String.Format(Strings.WarningWhenUnsubscribing, Model.Name))) TODO: make this only fire on unsubscribe action.
				{
					@Html.HiddenFor(m => m.OrganizationId)
					@Html.HiddenFor(m => m.SubscriptionId)
					@Html.ReqLabelFor(m => m.SubscriptionName, Strings.SubscriptionName)
					@Html.TextBoxFor(m => m.SubscriptionName, new { @class = "form-control margined" })
					@Html.AntiForgeryToken()
					<div class="pull-right" , style="margin-top:50px;">
						<a href="@Url.Action(ActionConstants.Unsubscribe, new { id = Model.SubscriptionId })" class="btn btn-danger">@Strings.Unsubscribe</a>
						<a href="@Url.Action(ActionConstants.OrganizationSubscriptions, ControllerConstants.Account, new { id = Model.OrganizationId })" class="btn btn-default"> @Strings.Cancel </a>
						<input type="submit" value="@Strings.Save" class="btn btn-default" id="save" />
					</div>

				}
			</div>
		</div>
	</div>
</div>
