@model AllyisApps.ViewModels.Auth.EditSubscriptionViewModel
@{
	ViewBag.Title = Strings.EditSubscription;
}

<div class="shrink-wrap-center">
			<div class="col-md-12">
				<div class="text-center">
					@Model.Name
				</div>
				<div class="text-center">
					@Model.Description
				</div>
				<div class="text-center">
					@using (Html.BeginForm( ActionConstants.Unsubscribe, ControllerConstants.Account, new { id = Model.SubscriptionId, idTwo = Model.SkuId }, FormMethod.Post, new { @onsubmit = String.Format("return confirm(\"{0}\")", Html.Raw("Are you sure you want to Unsubscribe from " + Model.Name)) }))
					{
					@Html.AntiForgeryToken()
					<input data-val="true" id="OrganizationId" name="OrganizationId" type="hidden" value="@Model.OrganizationId" />
					<input data-val="true" id="ProductId" name="ProductId" type="hidden" value="@Model.ProductId" />
					@*<input data-val="true" id="PreviousSku" name="PreviousSku" type="hidden" value="@Model.PreviousSku" />*@
					<input data-val="true" id="CurrentSubscription" name="CurrentSubscription.SubscriptionId" type="hidden" value="@Model.SubscriptionId" />
					<input type="hidden" name="SelectedSku" value="0" />
					<input type="submit" value="@Strings.Unsubscribe" class="btn btn-danger" id="submitDelete" />
					@Html.ActionLink(Strings.Cancel, ActionConstants.ManageOrg, ControllerConstants.Account, new { id = Model.OrganizationId }, htmlAttributes: new { @class = "btn btn-default" })
					}

				</div>
			</div>
</div>