@model AllyisApps.ViewModels.Auth.EditSubscriptionViewModel
@{
		ViewBag.Title = Strings.EditSubscription;
		IEnumerable<SelectListItem> items = new[] { new SelectListItem() { Text = "Unsubscribe" }, new SelectListItem() { Text = Model.NextName } };
	}

<div class="shrink-wrap-center">
	<div class="col-md-12">
		<div class="text-center">
			<img src="~/@string.Format("Content/icons/{0}.png", Model.Name.Replace(" ", ""))" alt="@Model.Name" style="margin-right:5px;" />
			<h2 style="display:inline-block;">
				@Model.Name
			</h2>
		</div>
		<div class="text-center col-md-offset-4 col-md-4" style="margin-top:10px;">
			@Model.Description
		</div>
		<div class="text-center col-md-12" style="margin-top:25px;">
			@using (Html.BeginForm(ActionConstants.EditSubscription, ControllerConstants.Account, new { id = Model.SubscriptionId, idTwo = Model.SkuId }, FormMethod.Post, new { @class = "col-md-offset-1", @style = "display: inline-block" })) // , @onsubmit = String.Format("return confirm(\"{0}\")", Html.Raw(String.Format(Strings.WarningWhenUnsubscribing, Model.Name))) TODO: make this only fire on unsubscribe action.
			{
				@Html.ReqLabelFor(m => m.SubscriptionName, "Subscription Name")
				@Html.TextBoxFor(m => m.SubscriptionName, new { @class = "form-control", @placeholder = Model.ProductName })
				@Html.AntiForgeryToken()
				<input type="hidden" name="SubscriptionId" value="@Model.SubscriptionId" />
				<input type="hidden" name="SkuId" value="@Model.SkuId" />
				<input type="hidden" name="ProductId" value="@Model.ProductId" />
				<input type="hidden" name="SkuIdNext" value="@Model.SkuIdNext" />
				<input type="hidden" name="OrganizationId" value="@Model.OrganizationId" />
				<input type="hidden" name="NextName" value="@Model.NextName" />
				<label for="subscriptionType">Change to: </label>
				@Html.DropDownListFor(m => m.ActionType, items)
				<input type="submit" value="@Strings.Save" class="btn btn-primary" id="save" />
				@Html.ActionLink(Strings.Cancel, ActionConstants.ManageOrg, ControllerConstants.Account, new { id = Model.OrganizationId }, htmlAttributes: new { @class = "btn btn-default" })
			}

		</div>
	</div>
</div>