@model AllyisApps.ViewModels.Auth.ForgotPasswordViewModel
@{
    ViewBag.Title = Strings.ForgotPasswordViewTitle;
    ViewBag.Description = Strings.EnterYourEmail;
}

<div class="shrink-wrap-center">
    <div class="min300">
        @using (Html.BeginForm(ActionConstants.ForgotPassword, ControllerConstants.Account, FormMethod.Post, new { @class = "ovrd-form-horizontal form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="ovrd-form-group form-group">
                @Html.ReqLabelFor(m => m.Email, Strings.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "ovrd-form-control form-control" })
            </div>
            <div class="ovrd-form-group form-group allyis-action-buttons">
                <a href="@Url.Action(ActionConstants.Index, ControllerConstants.Account)" class="ovrd-btn btn ovrd-btn-default btn-default"> @Strings.Cancel </a>
                <input type="submit" value="@Strings.Send" class="ovrd-btn btn ovrd-btn-primary btn-primary" />
            </div>
        }
    </div>
</div>