@model AllyisApps.ViewModels.Auth.ForgotPasswordViewModel
@{
    ViewBag.Title = Strings.ForgotPasswordViewTitle;
    ViewBag.Description = Strings.EnterYourEmail;
}

<div class="shrink-wrap-center">
    <div class="min300">
        @using (Html.BeginForm(ActionConstants.ForgotPassword, ControllerConstants.Account, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.ReqLabelFor(m => m.Email, Strings.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group allyis-action-buttons">
                <a href="@Url.Action(ActionConstants.Index, ControllerConstants.Account)" class="btn btn-default"> @Strings.Cancel </a>
                <!--Html.ActionLink(Strings.Cancel, ActionConstants.Index, ControllerConstants.Account, null, new { class = "btn btn-default" })-->
                <input type="submit" value="@Strings.Send" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
