@using AllyisApps.ViewModels.Auth;
@using AllyisApps.Services;

@model AllyisApps.ViewModels.Auth.IndexAndOrgsViewModel
@{
	DisplayHints.ShowBreadcrumbs = false;
	DisplayHints.PageBodyId = "paneled-index";
	ViewBag.TitleBar = Strings.MyAccount;
	var cityState = Model.UserInfo.Address.City != null && Model.UserInfo.Address.State != null ? Model.UserInfo.Address.City + ", " + Model.UserInfo.Address.State : string.Empty;
}

<div class="row">
	<div class="col-md-8 col-md-push-2">

		<div class="row">
			<div class="col-xs-12">
				<h1 style="float: left">@Strings.MyAccount</h1>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 style="margin-top: 0px; margin-bottom: 0px;">
					@Model.UserInfo.FirstName @Model.UserInfo.LastName
					<span class="small text-muted" style="margin-left: 10px;">
						(@Model.UserInfo.Email)
					</span>
				</h2>
			</div>
			<div class="panel-body">
				<div class="col-sm-9 index-details">
					<p>
						<label>@Strings.PhoneNumber:</label>
						@Model.UserInfo.PhoneNumber @Model.UserInfo.PhoneExtension
					</p>
					<p>
						<label>@Strings.Address:</label>
						<span class="address-row">@Model.UserInfo.Address.Address1</span>
						<span class="address-row">@cityState @Model.UserInfo.Address.PostalCode</span>
					</p>
				</div>
				<div class="col-sm-3 vertically-stacked-buttons text-right" style="padding-right:5px">
					@Html.ActionLink(Strings.ChangePassword, ActionConstants.ChangePassword, ControllerConstants.Account, null, new { @class = "btn btn-default"})
					@Html.ActionLink(Strings.EditProfile, ActionConstants.EditProfile, null, new { @class = "btn btn-default"})
				</div>
			</div>

			@if (Model.InviteInfos.Count > 0)
			{
				<div class="panel-body">
					<div class="index-details" style="padding-left: 15px">
						<p>
							<label>@Strings.Invitations</label>
							@if (Model.InviteInfos.Count == 1)
							{
								@Strings.Invite
							}
							else
							{
								@Strings.Invites
							}
						</p>
						@foreach (InvitationInfo invite in Model.InviteInfos)
						{
							<div class="invites">
								<span class="col-xs-4 col-xs-6" style="margin-top:25px;">@ViewData[invite.OrganizationId.ToString()]</span>
								@using (Html.BeginForm(ActionConstants.AcceptInvitation, ControllerConstants.Account, new { id = @invite.InvitationId }, FormMethod.Post))
								{

									<span class="col-xs-4 col-xs-3 pull-right" style="margin-top:15px;">
										<input type="submit" value="@Strings.Accept" class="btn btn-primary col-xs-12" />
									</span>
								}
								@using (Html.BeginForm(ActionConstants.RejectInvitation, ControllerConstants.Account, new { id = @invite.InvitationId }, FormMethod.Post))
								{
									<span class="col-xs-4 col-xs-3 pull-right" style="margin-top:15px;">
										<input type="submit" value="@Strings.Reject" class="btn btn-primary col-xs-12" />
									</span>
								}
							</div>
						}
					</div>
				</div>
			}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-push-2 col-md-8">
		<div class="row">
			<div class="col-xs-12">
				<h1 style="float: left">@Strings.YourOrganizations</h1>
				<a href="@Url.Action(ActionConstants.CreateOrg, ControllerConstants.Account)" class="btn btn-default" style="float: right; margin-top: 20px; margin-bottom: 15px;">@Strings.CreateOrganization</a>
			</div>
		</div>
		@if (Model.OrgInfos.Count <= 0)
		{
			<div class="row">
				 <div class="col-xs-12">
					 @Strings.NoOrganizationMessage
				 </div>
			</div>
		}
		else
		{
			foreach (var org in Model.OrgInfos)
			{
				UserOrgViewModel model = new UserOrgViewModel() { UserInfo = Model.UserInfo, PanelInfo = org };

				@Html.Partial("_OrganizationPanel", model);
			}
		}
	</div>
</div>
