@model LogOnViewModel
@{
	ViewBag.Title = Strings.SignIn;
}
<div class="container logon">
	<div class="row">
		<div class="col-lg-push-2 col-lg-4" style="border-right: solid 1px #cccccc">
			<h3>Use a local account.</h3>
			@using (Html.BeginForm(ActionConstants.LogOn, ControllerConstants.Account, new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()

				@Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
				<div class="ip-group">
					@Html.ReqLabelFor(m => m.Email, Strings.Email)
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" })
				</div>
				<div class="ip-group">
					@Html.ReqLabelFor(m => m.Password, Strings.Password)
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger" })
					<div class="field-validation-error" id="capsWarningDiv" style="visibility:hidden; height:0px"><span>@Strings.CapsLock</span></div>
				</div>
				<div class="checkbox ip-group">
					@Html.CheckBoxFor(m => m.RememberMe, new { id = Html.NameFor(m => m.RememberMe), style = "margin-left: 0px" })
					<label for="@Html.NameFor(m=>m.RememberMe)"> @Strings.RememberMe </label>
				</div>
				<div class="text-right">
					<p>
						<input type="submit" value="@Strings.SignIn" class="btn btn-primary btn-gray" />
					</p>
					<p>
						<a href="@Url.Action(ActionConstants.Register, ControllerConstants.Account, new { ReturnUrl = ViewBag.ReturnUrl })"> @Strings.RegisterLinkText </a>
					</p>
					<p>
						<a href="@Url.Action(ActionConstants.ForgotPassword, ControllerConstants.Account)"> @Strings.ForgotPasswordViewTitle </a>
					</p>
				</div>
			}
		</div>
		<div class="col-lg-push-2 col-lg-6">
			<h3>Use a work or school account.</h3>
			<p>If your employer/school is using Microsoft Office 365 or Google Apps for email, you can use that account to login here.</p>
			<p><a href="@Url.Action(ActionConstants.MsftOidc, ControllerConstants.Account)"><img src="~/Content/icons/sign-in-with-microsoft-light.png" /></a></p>
			<p><a href="@Url.Action(ActionConstants.GoogleOidc, ControllerConstants.Account)"><img src="~/Content/icons/btn_google_signin_light_normal_web.png" style="border: 2px solid gray; width: 230px;" /></a></p>
			<p><i>Note: After you successfully sign in the first time, you will be automatically registered as a user in the system.</i></p>
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/CapsCheck")
}
