@using AllyisApps.ViewModels.Auth;
@using AllyisApps.Services
@model OrganizationManageViewModel
@{
    DisplayHints.PageBodyId = "org-manage";
    ViewBag.Title = Strings.Manage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    InvitationInfo emptyInvite = new InvitationInfo()
    {
        FirstName = Strings.FirstName,
        LastName = Strings.LastName,
        Email = "email@allyis.com",
        AccessCode = "None"
    };
}

@Html.AntiForgeryToken() @*Used by the javascript dynamic form methods below (for removing users/invitations)*@

<div class="flexbox-row flexbox-row-2-col-collapse">
    <div style="margin-bottom: 20px">
        @*Adjust default margins for delete org button to keep it outside the border*@
        <div class="panel panel-default org-panel" style="margin-bottom: 0px">
            <div class="panel-heading">
                <h1 class="panel-title">
                    @Strings.OrganizationDetails
                    @*@if (Model.CanEditOrganization)
                    {*@
                    <a href="@Url.Action(ActionConstants.EditOrg, ControllerConstants.Account, new { id = Model.OrganizationId })"
                       class = "pull-right text-muted" title="@Strings.EditOrganization"><span class="fa fa-fw fa-edit"></span></a>
					@*}*@
                </h1>
            </div>
            @Html.Partial("_OrgDetails", Model.Details)
        </div>
    </div>
    <div class="panel panel-default sub-panel">
        <div class="panel-heading">
            <h1 class="panel-title">
                @Strings.Subscriptions
            </h1>
        </div>
        @foreach (SubscriptionDisplayViewModel productSub in Model.Subscriptions)
        {
            @Html.Partial("_SubDetails", productSub);
        }
        <div class="panel-body">
            <h4>@Strings.Subscribe!</h4>
            <p>@Strings.SubscribeToProducts</p>
            @if (Model.SubscriptionCount == 0)
            {
                <p>@Strings.PleaseSubscribe</p>}
        </div>
    </div>
    <div class="panel panel-default members-panel">
        @*<div class="panel-heading">
        <h1 class="panel-title">
            @Strings.MembersAllyisApps.Resources.Views.Account.
            <span class="pull-right panel-title">
                @if (Model.CanEditOrganization)
                {
                    <a href="@Url.Action(ActionConstants.ManagePermissions)" title="@Strings.ManagePermissions"><span class="fa fa-fw fa-lg fa-users text-warning"></span></a>}
                @if (Model.CanEditOrganization && Model.SubscriptionCount > 0)
                {
                    <a href="@Url.Action(ActionConstants.Add)" title="@Strings.AddMembers"><span class="fa fa-fw fa-plus fa-lg text-info"></span></a>}
            </span>
        </h1>
    </div>
    <div>
        <input id="org-members-search" type="text" class="form-control" placeholder="🔍 " style="border: none;" />
    </div>*@
        @Html.Partial("_OrgMembers2", Model.Members)
    </div>

    @*<div class="panel panel-default billing-panel" style="height: 100%;">
        <div class="panel-heading" id="stripe-panel">
            <h1 class="panel-title clearfix">
                @Strings.BillingInformation
            </h1>
            <a href="http://stripe.com"><img src="~/Content/icons/poweredbystripe.png" style="height: 30px; float: right; margin-top: -23px;" title="" alt="Stripe Logo"></a>
        </div>
        @Html.Partial("_OrgBillingInfo", Model)
    </div>*@
</div>
@section Scripts {
    <script type="text/javascript">
        var removeFromOrg = "@Html.Raw(Strings.RemoveFromOrg)";
        var removeMemberAction = "@Url.Action(ActionConstants.RemoveMember, ControllerConstants.Account)?userId=";
        var removeInvitation = "@Html.Raw(Strings.RemoveInvitationConfirm)";
        var removeInvitationAction = "@Url.Action(ActionConstants.RemoveInvitation, ControllerConstants.Account)?invitationId=";
    </script>
    @Scripts.Render("~/bundles/AccountManage")
    <script type="text/javascript" src="~/Scripts/allyis-pages-with-filter.js"></script>
    <script type="text/javascript">
        pwf.setPageLimit(15);
        pwf.setRowClass("memberRow");
        pwf.addFilter('#org-members-search', "search", '.memberSearchProperty');
        pwf.addFilter('#org-members-role', "dropDown", '.memberOrgRole', '@Strings.Any');
        if (sessionStorage.getItem("/ManagePage") != null) {
            pwf.setPreviouslySelectedPage(sessionStorage.getItem("/ManagePage"));
        }
    </script>
}
