@using AllyisApps.ViewModels.Auth;
@using AllyisApps.Services
@model ManageOrgViewModel
@{
	DisplayHints.PageBodyId = "org-manage";
	ViewBag.Title = Strings.ManageOrganization;
}

@Html.AntiForgeryToken() @*Used by the javascript dynamic form methods below (for removing users/invitations)*@

<div class="flexbox-row flexbox-row-2-col-collapse">
	<div style="margin-bottom: 20px">
		@*Adjust default margins for delete org button to keep it outside the border*@
		<div class="panel panel-default org-panel" style="margin-bottom: 0px">
			<div class="panel-heading">
				<h1 class="panel-title">
					@Strings.OrganizationDetails
					<a href="@Url.Action(ActionConstants.EditOrg, ControllerConstants.Account, new { id = Model.OrganizationId })"
					   class="pull-right text-muted" title="@Strings.EditOrganization"><span class="fa fa-fw fa-edit"></span></a>
				</h1>
			</div>
			@Html.Partial("_ManageOrgDetails", Model.Details)
		</div>
	</div>
	<div class="panel panel-default sub-panel" style="position: relative">
		<div class="panel-heading">
			<h1 class="panel-title">
				@Strings.Subscriptions
			</h1>
		</div>

		@if (Model.SubscriptionCount > 0)
		{
			<table class="table table-striped table-sparse">
				@foreach (SubscriptionDisplayViewModel productSub in Model.Subscriptions)
				{
					@Html.Partial("_ManageOrgSubscriptions", productSub);
				}
			</table>
			<div class="panel-body">
				<p>Optimize your organization further at the <a href="@Url.Action(ActionConstants.Skus, ControllerConstants.Account, new { id = Model.OrganizationId })" style="color:cornflowerblue">subscriptions page</a></p>
			</div>
		}
		else
		{
			<div class="panel-body">
				<h4>No Subscriptions</h4>
				<p>Start your organization's first subscription at the <a href="@Url.Action(ActionConstants.Skus, ControllerConstants.Account, new { id = Model.OrganizationId })" style="color:cornflowerblue">subscriptions page</a> to begin alleviating the management process</p>
			</div>
		}
	</div>
	<div class="panel panel-default members-panel">
		@Html.Partial("_OrgMembers2", Model.Members)
	</div>
</div>
@section Scripts {
	<script type="text/javascript">
        var removeFromOrg = "@Html.Raw(Strings.RemoveFromOrg)";
        var removeMemberAction = "@Url.Action(ActionConstants.RemoveMember, ControllerConstants.Account)?userId=";
        var removeInvitation = "@Html.Raw(Strings.RemoveInvitationConfirm)";
        var removeInvitationAction = "@Url.Action(ActionConstants.RemoveInvitation, ControllerConstants.Account)?invitationId=";
	</script>
	@Scripts.Render("~/bundles/AccountManage")
	<script type="text/javascript" src="~/Scripts/allyis-pages-with-filter.js"></script>
	<script type="text/javascript">
        pwf.setPageLimit(15);
        pwf.setRowClass("memberRow");
        pwf.addFilter('#org-members-search', "search", '.memberSearchProperty');
        pwf.addFilter('#org-members-role', "dropDown", '.memberOrgRole', '@Strings.Any');
        if (sessionStorage.getItem("/ManagePage") != null) {
            pwf.setPreviouslySelectedPage(sessionStorage.getItem("/ManagePage"));
        }
	</script>
}
