@using AllyisApps.ViewModels.Auth;
@using AllyisApps.Services
@model ManageOrgViewModel
@{
	DisplayHints.PageBodyId = "org-manage";
	ViewBag.Title = Strings.ManageOrganization;
}

@Html.AntiForgeryToken() @*Used by the javascript dynamic form methods below (for removing users/invitations)*@

<div class="flexbox-row flexbox-row-2-col-collapse">
	<div style="margin-bottom: 20px">
		@*Adjust default margins for delete org button to keep it outside the border*@
		<div class="ovrd-panel panel ovrd-panel-default panel-default org-panel" style="margin-bottom: 0px">
			<div class="ovrd-panel-heading panel-heading">
				<h1 class="ovrd-panel-title panel-title">
					@Strings.OrganizationDetails
					<a href="@Url.Action(ActionConstants.EditOrg, ControllerConstants.Account, new { id = Model.OrganizationId })"
					   class="pull-right text-muted" title="@Strings.EditOrganization"><span class="ovrd-fa fa ovrd-fa-fw fa-fw ovrd-fa-edit fa-edit"></span></a>
				</h1>
			</div>
			@Html.Partial("_ManageOrgDetails", Model.Details)
		</div>
	</div>
	<div class="ovrd-panel panel ovrd-panel-default panel-default sub-panel" style="position: relative">
		<div class="ovrd-panel-heading panel-heading">
			<h1 class="ovrd-panel-title panel-title">
				@Strings.Subscriptions
			</h1>
		</div>

		@if (Model.SubscriptionCount > 0)
		{
			<table class="ovrd-table table ovrd-table-striped table-striped ovrd-table-sparse table-sparse">
				@foreach (SubscriptionDisplayViewModel productSub in Model.Subscriptions)
				{
					@Html.Partial("_ManageOrgSubscriptions", productSub);
				}
			</table>
			<div class="ovrd-panel-body panel-body">
				<p><i>Please visit the <a href="@Url.Action(ActionConstants.Skus, ControllerConstants.Account, new { id = Model.OrganizationId })" style="color:cornflowerblue">subscriptions page</a> to subscribe to other products.</i></p>
			</div>
		}
		else
		{
			<div class="ovrd-panel-body panel-body">
				<h4>No Subscriptions</h4>
				<p><i>You have not subscribed to any of our products yet.</i></p>
				<p><i>Please visit the <a href="@Url.Action(ActionConstants.Skus, ControllerConstants.Account, new { id = Model.OrganizationId })" style="color:cornflowerblue">subscriptions page</a> to subscribe to our products.</i></p>
			</div>
		}
	</div>
	<div class="ovrd-panel panel ovrd-panel-default panel-default members-panel">
		@Html.Partial("_OrgMembers2", Model.Members)
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		var removeFromOrg = "@Html.Raw(Strings.RemoveFromOrg)";
		var removeMemberAction = "@Url.Action(ActionConstants.RemoveMember, ControllerConstants.Account)?userId=";
		var removeInvitationAction = "@Url.Action(ActionConstants.RemoveInvitation, ControllerConstants.Account)?invitationId=";
	</script>
	@Scripts.Render("~/bundles/AccountManage")
	<script type="text/javascript" src="~/Scripts/allyis-pages-with-filter.js"></script>
	<script type="text/javascript">
		pwf.setPageLimit(15);
		pwf.setRowClass("memberRow");
		pwf.addFilter('#org-members-search', "search", '.memberSearchProperty');
		pwf.addFilter('#org-members-role', "dropDown", '.memberOrgRole', '@Strings.Any');
		if (sessionStorage.getItem("/ManagePage") != null) {
			pwf.setPreviouslySelectedPage(sessionStorage.getItem("/ManagePage"));
		}
	</script>
}