@model OrganizationMembersViewModel2
@{
	var sb = new System.Text.StringBuilder();
	sb.AppendFormat("{0}: {1}", Strings.Members, Model.OrganizationName);
	ViewBag.TitleBar = sb.ToString();

	sb.Clear();
	sb.Append("Member count");
	sb.Append(": ");
	sb.Append(Model.Users.Count);
	string title = sb.ToString();
}

@Html.Partial("_MembersAndInvitationsTab", Model.TabInfo)

<div class="row" style="margin-bottom:10px; margin-top:10px;">
	<div class="col-xs-12">
		<h1 style="margin-top:0px; margin-bottom:0px; display:inline;">@ViewBag.TitleBar</h1>
	</div>
</div>
<style>
	.members-top-row div {
		display: inline;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	input.members-checkbox {
		margin-left: 15px;
	}
</style>
<div class="row members-top-row">
	<div class="col-xs-12">
		<div>@Strings.Members  : @Model.Users.Count</div>
		@if (Model.CanManagePermissions)
		{
			<div><a href="@Url.Action(ActionConstants.ManageOrgPermissions, ControllerConstants.Account, new { id = Model.OrganizationId })" class="btn btn-default" title="@Strings.ManagePermissions">@Strings.ManagePermissions <i class="fa fa-fw fa-lock"></i></a></div>
		}
		@if (Model.CanAddUser)
		{
			<div><a href="@Url.Action(ActionConstants.AddMember, ControllerConstants.Account, new { id = Model.OrganizationId })" class="btn btn-default" title="@Strings.AddMembers">@Strings.AddMembers <i class="fa fa-fw fa-user-plus"></i></a></div>
		}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th><input class="checkbox-inline members-checkbox" type="checkbox" id="checkAll" /></th>
					<th>Name</th>
					<th>Email</th>
					<th>Employee ID</th>
					<th>Joined Date</th>
					<th>Role</th>
					<th><i class="fa fa-edit"> Edit</i></th>
				</tr>
			</thead>
			@foreach (var item in Model.Users)
			{
				<tr>
					<td class="col-md-1"><input class="checkbox-inline members-checkbox" type="checkbox" value="@item.UserId" /></td>
					<td class="col-md-2">@item.Username</td>
					<td class="col-md-3">@item.Email</td>
					<td class="col-md-2">@item.EmployeeId</td>
					<td class="col-md-2">@item.FormattedJoinedDate</td>
					<td class="col-md-1">@item.RoleName</td>
					<td class="col-md-1">
						@if (Model.CanEditUser)
						{
							<a href="@Url.Action(ActionConstants.EditMember, ControllerConstants.Account, new { @id = item.UserId })" title="@Strings.EditUser"><i class="fa fa-fw fa-edit"></i></a>
						}
					</td>
				</tr>
			}
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<a href="@Url.Action(ActionConstants.Index, ControllerConstants.Account)"
		   class="btn btn-default pull-left" title="@Strings.Back"><i class="fa fa-caret-left"></i>&nbsp;@Strings.Back</a>
		@if (Model.CanDeleteUser)
		{
			<a href="@Url.Action(ActionConstants.RemoveMember, ControllerConstants.Account)"
			   class="btn btn-danger pull-right" title="@Strings.Back">@Strings.RemoveMember</a>
		}
	</div>
</div>
