@model OrganizationMembersViewModel
@{
	var sb = new System.Text.StringBuilder();
	sb.AppendFormat("{0}: {1}", Strings.Members, Model.OrganizationName);
	ViewBag.TitleBar = sb.ToString();
}

@Html.Partial("_MembersAndInvitationsTab", Model.TabInfo)
<div style="margin-bottom: 25px;"></div>
<div class="row members-top-row">
	<div class="col-xs-12">
		<div>@Strings.Members  : @Model.Users.Count</div>
		@if (Model.CanManagePermissions)
		{
			<div><a href="@Url.Action(ActionConstants.ManageOrgPermissions, ControllerConstants.Account, new { id = Model.OrganizationId })" class="btn btn-default" title="@Strings.ManagePermissions">@Strings.ManagePermissions <i class="fa fa-fw fa-lock"></i></a></div>
		}
		@if (Model.CanAddUser)
		{
			<div><a href="@Url.Action(ActionConstants.AddMember, ControllerConstants.Account, new { id = Model.OrganizationId })" class="btn btn-default" title="@Strings.AddMembers">@Strings.AddMembers <i class="fa fa-fw fa-user-plus"></i></a></div>
		}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th><input class="checkbox-inline members-checkbox" type="checkbox" id="checkAll" /></th>
					<th>Name</th>
					<th>Email</th>
					<th>Employee ID</th>
					<th>Joined Date</th>
					<th>Role</th>
					<th><i class="fa fa-edit"> Edit</i></th>
				</tr>
			</thead>
			@foreach (var item in Model.Users)
			{
				<tr>
					<td class="col-md-1"><input class="checkbox-inline members-checkbox" type="checkbox" value="@item.UserId" /></td>
					<td class="col-md-2">@item.Username</td>
					<td class="col-md-3">@item.Email</td>
					<td class="col-md-2">@item.EmployeeId</td>
					<td class="col-md-2">@item.FormattedJoinedDate</td>
					<td class="col-md-1">@item.RoleName</td>
					<td class="col-md-1">
						@if (Model.CanEditUser)
						{
							<a href="@Url.Action(ActionConstants.EditMember, ControllerConstants.Account, new { @id = Model.OrganizationId, @userId = item.UserId })" title="@Strings.EditUser"><i class="fa fa-fw fa-edit"></i></a>
						}
					</td>
				</tr>
			}
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<a href="@Url.Action(ActionConstants.Index, ControllerConstants.Account)"
		   class="btn btn-default pull-left" title="@Strings.Back"><i class="fa fa-caret-left"></i>&nbsp;@Strings.Back</a>
		@if (Model.CanDeleteUser)
		{
			using (Html.BeginForm(ActionConstants.RemoveMember, ControllerConstants.Account, new { @id = Model.OrganizationId }, FormMethod.Post, new { @onsubmit="return getUserIdsAndSubmit();" }))
			{
				@Html.AntiForgeryToken();
				<input type="hidden" id="csvUserIds" />
				<button type="submit" class="btn btn-danger pull-right" title="@Strings.Back">@Strings.Delete</button>
				<script type="text/javascript">
					function getUserIdsAndSubmit() {
						var csvIds = "";

						// gather all the ids to delete as a csv

						if (csvIds == "") {
							alert("You have not chosen a user to delete");
							return false;
						}

						// submit the form

						return false; // for now, delete this line later
					}
				</script>
			}
		}
	</div>
</div>
