@model SkusViewModel

@{
	ViewBag.Title = Strings.Products;
}

@foreach (var prod in Model.Products)
{
	<div class="ovrd-row row">
		<div class="ovrd-col-md-6 col-md-6 ovrd-col-md-push-3 col-md-push-3 col">
			<div class="ovrd-panel panel ovrd-panel-default panel-default">
				<div class="ovrd-panel-heading panel-heading">
					<h2 style="margin-top: 0px; margin-bottom: 0px; text-align: center;">
						@prod.ProductName
					</h2>
				</div>

				<div class="ovrd-panel-body panel-body">
					@foreach (var sku in prod.Skus)
					{
						<div class="ovrd-row row">
							<div class="ovrd-panel-wrap panel-wrap ovrd-panel-wrap-one panel-wrap-one ovrd-col-md-10 col-md-10 ovrd-col-md-push-1 col-md-push-1 col">
								<div class="ovrd-panel panel ovrd-panel-default panel-default">
									<div class="ovrd-panel-heading panel-heading" style="display: table; width: 100%; height: 100%;">
										<div class="ovrd-row row">
											<div class="ovrd-col-md-4 col-md-4 col">
												<div class="ovrd-row row" style="text-align: center; vertical-align: middle; margin-top: 25px; margin-bottom: 10px;"><img src="~/@sku.SkuIconUrl" alt="@sku.SkuName" /></div>
												<div class="ovrd-row row" style="text-align: center; vertical-align: middle; margin-top: 10px; margin-bottom: 10px;"><strong>$@sku.Price.ToString("N2")</strong></div>
												@if (Model.CanSubscribe)
												{
													<div class="ovrd-row row" style="text-align: center; vertical-align: middle; margin-top: 10px; margin-bottom: 10px;">
														<a href="@Url.Action(ActionConstants.Subscribe, ControllerConstants.Account, new { id = Model.OrganizationId, skuId = (int)sku.SkuId })" style="text-decoration: none" class="ovrd-btn btn ovrd-btn-default btn-default">@Strings.Subscribe</a>
													</div>
												}
											</div>
											<div class="ovrd-col-md-8 col-md-8 col">
												<h3>
													@sku.SkuName
												</h3>
												<p>
													@sku.SkuDescription
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
	<br />
}

<div>
	<a href="@Url.Action(ActionConstants.OrganizationSubscriptions, ControllerConstants.Account, new { id = Model.OrganizationId })" class="ovrd-btn btn ovrd-btn-default btn-default" title="@Strings.Back"><i class="ovrd-fa fa ovrd-fa-caret-left fa-caret-left"></i> @Strings.Back</a>
</div>