@*@model AllyisApps.ViewModels.Auth.EditProfileViewModel*@
@model AllyisApps.Services.User
@{
	Layout = "~/Views/Shared/_LayoutJustAForm.cshtml";
	ViewBag.Title = Model.FirstName + " " + Model.LastName;
}
@{ ViewData.Add(ControllerConstants.Controller, ControllerConstants.Account); }
@{ ViewData.Add(ActionConstants.Action, ActionConstants.EditProfile); }
@using (Html.BeginForm((string)(ViewData[ActionConstants.Action]), (string)ViewData[ControllerConstants.Controller], new { ReturnUrl = (string)(ViewBag.ReturnUrl) }, FormMethod.Post, new { @class = "form", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
	<div class="row">
		<div class="col-md-6 min300">
			<div class="form-group">
				@Html.LabelFor(m => m.Email, AllyisApps.Resources.Views.Account.Strings.Email)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.Email)</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.FirstName, AllyisApps.Resources.Views.Account.Strings.FirstName)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.FirstName)</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.LastName, AllyisApps.Resources.Views.Account.Strings.LastName)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.LastName)</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.DateOfBirth, AllyisApps.Resources.Views.Account.Strings.DateOfBirth)
                <div class="text-box-padded">@if (Html.ViewData.Model.DateOfBirth.HasValue)
                    {@Html.ViewData.Model.DateOfBirth.Value.ToShortDateString()}
                </div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.PhoneNumber, AllyisApps.Resources.Views.Account.Strings.PhoneNumber)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.PhoneNumber)</div>
			</div>
		</div>
		<div class="col-md-6 min300">
			<div class="form-group">
				@Html.LabelFor(m => m.Address, AllyisApps.Resources.Views.Account.Strings.Address)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.Address)</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Country, AllyisApps.Resources.Views.Account.Strings.Country)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.Country)</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.State, AllyisApps.Resources.Views.Account.Strings.State)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.State)</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.City, AllyisApps.Resources.Views.Account.Strings.City)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.City)</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.PostalCode, AllyisApps.Resources.Views.Account.Strings.PostalCode)
                <div class="text-box-padded">@Html.DisplayTextFor(m => m.PostalCode)</div>
			</div>
		</div>
	</div>

	<div class="form-group allyis-action-buttons">
		<a href="/Account/Manage" class="btn btn-default">@AllyisApps.Resources.Views.Account.Strings.Back</a>
	</div>
}
