<ul class="nav nav-pills nav-stacked" style="background-color: #fafafa;">
	<li>@Html.ActionLink("Week Start","SettingsOvertime")</li>
	<li>@Html.ActionLink("Pay Class","SettingsOvertime")</li>
	<li>@Html.ActionLink("Lock date","SettingsOvertime")</li>
	<li>@Html.ActionLink("Overtime","SettingsOvertime")</li>
	<li>@Html.ActionLink("Holidays", "SettingsHoliday")</li>
</ul><br />
<a href="#" class="btn btn-default">Back</a>