<ul class="nav nav-pills nav-stacked panel-default" style="background-color: #fafafa;">
	<li @Html.Raw(ViewBag.Title == Strings.PClasses ? "style=background-color: #d1d1d1" : "")>
		@Html.ActionLink(Strings.PClasses, ActionConstants.SettingsPayClass, ControllerConstants.TimeEntry)
	</li>
	<li @Html.Raw(ViewBag.Title == Strings.PayPeriod ? "style=background-color: #d1d1d1" : "")>
		@Html.ActionLink(Strings.PayPeriod, ActionConstants.SettingsPayPeriod, ControllerConstants.TimeEntry)
	</li>
	<li @Html.Raw(ViewBag.Title == Strings.EmployeeType ? "style=background-color: #d1d1d1" : "")>
		@Html.ActionLink(Strings.EmployeeType, ActionConstants.SettingsEmployeeType, ControllerConstants.TimeEntry)
	</li>
	<li @Html.Raw(ViewBag.Title == Strings.Overtime ? "style=background-color: #d1d1d1" : "")>
		@Html.ActionLink(Strings.Overtime, ActionConstants.SettingsOvertime, ControllerConstants.TimeEntry)
	</li>
	<li @Html.Raw(ViewBag.Title == Strings.Holidays ? "style=background-color: #d1d1d1" : "")>
		@Html.ActionLink(Strings.Holidays, ActionConstants.SettingsHoliday, ControllerConstants.TimeEntry)
	</li>
</ul>
<br />
@Html.ActionLink(Strings.Back, ActionConstants.Index, ControllerConstants.TimeEntry, null, new { @class = "btn btn-default", type = "button" })