@using AllyisApps.ViewModels.TimeTracker.TimeEntry;
@using AllyisApps.Core;
@using AllyisApps.Services.TimeTracker;
@model MergePayClassViewModel

@{
	ViewBag.Title = Strings.Merge;
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
	Layout = "~/Areas/TimeTracker/Views/Shared/_TimeTrackerSidebar.cshtml";
}

@section css {
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
}

<p id="notice" style="color:red"></p>
<div class="ovrd-row row">
	<div class="ovrd-col-md-4 col-md-4 ovrd-col-md-offset-4 col-md-offset-4 col">
		<div class="ovrd-panel panel ovrd-panel-info panel-info" style="min-width:350px;">
			<div class="ovrd-panel-heading panel-heading">
				<h3 style="margin-top: 0; margin-bottom: 0;">
					@String.Format(Strings.ChoosePayClassToMerge, "\"" + Model.SourcePayClassName + "\"")
				</h3>
			</div>
			<div class="ovrd-panel-body panel-body">
				@using (Html.BeginForm(ActionConstants.MergePayClass, ControllerConstants.TimeEntry, FormMethod.Post, new { enctype = "multipart/form-data" }))
				{
					@Html.AntiForgeryToken();
					@Html.HiddenFor(m => m.SourcePayClassId)
					@Html.HiddenFor(m => m.SourcePayClassName)
					foreach (var payClass in Model.DestinationPayClasses)
					{
						string _payClassName = Strings.ResourceManager.GetString(payClass.PayClassName.Replace(" ", string.Empty)) ?? payClass.PayClassName;
						<input type="radio" name="destPayClass" style="margin:5px" id="mpc" value="@payClass.PayClassId" @(payClass.PayClassName == "Regular" ? " checked " : string.Empty)><text>@_payClassName</text><br />
					}
					<br />
					<div class="pull-right">
						<a href="@Url.Action(ActionConstants.Settings, ControllerConstants.TimeEntry, routeValues: null)" class="ovrd-btn btn ovrd-btn-default btn-default">@Strings.Cancel</a>
						<input type="submit" class="ovrd-btn btn ovrd-btn-primary btn-primary" value=@Strings.Save onClick="this.form.submit(); this.disabled=true; this.value='Saving...';" />
					</div>
				}
			</div>
		</div>
	</div>
</div>