@using AllyisApps.ViewModels.TimeTracker.TimeEntry;
@model MergePayClassViewModel

@{
	ViewBag.Title = Strings.Merge;
	ViewData["SubscriptionName"] = Model.SubscriptionName;
	ViewData["SubscriptionId"] = Model.SubscriptionId;
	ViewBag.SubscriptionName = Model.SubscriptionName;
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
	Layout = "~/Areas/TimeTracker/Views/Shared/_TimeTrackerSidebar.cshtml";
	ViewData["SubscriptionName"] = Model.SubscriptionName;
}

@section css {
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
}

<div class="container">
	<p id="notice" style="color:red"></p>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-info" style="min-width:350px;">
				<div class="panel-heading">
					<h3 style="margin-top: 0; margin-bottom: 0;">
						@String.Format(Strings.ChoosePayClassToMerge, "\"" + Model.SourcePayClassName + "\"")
					</h3>
				</div>
				<div class="panel-body">
					@using (Html.BeginForm(ActionConstants.MergePayClass, ControllerConstants.TimeEntry, FormMethod.Post, new { enctype = "multipart/form-data" }))
					{
						@Html.AntiForgeryToken();
						@Html.HiddenFor(m => m.SourcePayClassId)
						@Html.HiddenFor(m => m.SourcePayClassName)
						@Html.HiddenFor(m =>  m.SubscriptionId)
						foreach (var payClass in Model.DestinationPayClasses)
						{
							string _payClassName = Strings.ResourceManager.GetString(payClass.PayClassName.Replace(" ", string.Empty)) ?? payClass.PayClassName;
							<input type="radio" name="destPayClass" style="margin:5px" id="mpc" value="@payClass.PayClassId" @(payClass.PayClassName == "Regular" ? " checked " : string.Empty)><text>@_payClassName</text><br />
						}
						<br />
						<div class="pull-right">
							<a href="@Url.Action(ActionConstants.SettingsPayClass, ControllerConstants.TimeEntry)" class="btn btn-default">@Strings.Cancel</a>
							<input type="submit" class="btn btn-primary" value=@Strings.Save onClick="this.form.submit(); this.disabled=true; this.value='Saving...'; return confirm('@("Are you sure you want to merge this pay class?  The old pay class will be removed from all employee types.")');" />
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
