@using AllyisApps.ViewModels.TimeTracker.TimeEntry;
@using AllyisApps.Core;
@using AllyisApps.Services;

@model ReportViewModel

@{
    ViewBag.Title = Strings.Report;
    DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
    DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
    ViewBag.OrganizationId = Model.OrganizationId;
    Layout = "~/Areas/TimeTracker/Views/Shared/_TimeTrackerSidebar.cshtml";
    ViewData["UserId"] = Model.UserId;
    ViewData["SubscriptionId"] = Model.SubscriptionId;
}

<div class="row report-wrap">
    <div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
        <div class="row">
            @using (Html.BeginForm(ActionConstants.ViewReport, ControllerConstants.TimeEntry, FormMethod.Post, htmlAttributes: new { @id = "reportForm" }))
            {
                @Html.Hidden("OrganizationId", Model.OrganizationId)
                @Html.HiddenFor(m => m.SubscriptionId)
                <!--Get users By subscriptionUser-->
                <!--Default selection: current user-->if (Model.CanManage)// was previously: (Permissions.Can(ProductAction.TimeTrackerCreateReportOthers, Model.OrganizationId, DB Helper.Instance.GetProductIDByName("TimeTracker")))
                {
                    <div class="list-left container">
                        <label for="UserSelect">@Strings.Employees</label>
                        @Html.DropDownList("UserSelect",
                                              Model.UserView,
                                              htmlAttributes: new { @class = "form-control", multiple = "multiple", size = "9" })
                    </div>
}
                else
                {
                    <div class="list-left container" style="display: none;">
                        <label for="UserSelect">@Strings.Employees</label>
                        @Html.DropDownList("UserSelect",
                                              Model.UserView,
                                              htmlAttributes: new { @class = "form-control", /*disabled = "disabled",*/ multiple = "multiple", size = "9", style = "display: none;" })
                    </div>
}
                <div class="options-right container">
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6">
                            <!--Get Customers by OrganizationId-->
                            <label for="CustomerSelect">@Strings.Customers</label>
                            @Html.DropDownList("CustomerSelect",
                                              Model.CustomerView,
                                              htmlAttributes: new { @class = "form-control", @id = "ddl-customers" })
                        </div>

						<!-- A holder for all the projects, to draw from for populating the real selection list -->
						<select id="allprojects" style="display: none;">
							@foreach(CompleteProjectInfo proj in Model.Projects)
							{
								<option value="@proj.ProjectId" data-cust="@proj.CustomerId" class="projectSelectOption">@proj.ProjectName</option>
							}
						</select>

                        @if (Model.Selection.CustomerId == 0)
                        {
                            <div class="form-group col-md-6 col-lg-6">
                                <label for="ddl-projects">@Strings.Projects</label>
                                <!--Get Projects by OrgID-->
                                @Html.DropDownList("ProjectSelect",
                                              Model.ProjectView,
                                              htmlAttributes: new { @class = "form-control", @id = "ddl-projects", @disabled = "disabled" })
                            </div>
							}
                        else
                        {
                            <div class="form-group col-md-6 col-lg-6">
                                <label for="ddl-projects">@Strings.Projects</label>
                                @*@Html.DropDownList("ProjectSelect",
                                              Model.ProjectView,
                                              htmlAttributes: new { @class = "form-control", @id = "ddl-projects" })*@
								<select name="ProjectSelect" class="form-control" id="ddl-projects">
									@foreach(CompleteProjectInfo project in Model.Projects)
									{
										if (Model.Selection.CustomerId == project.CustomerId)
										{
											string selected = Model.Selection.ProjectId == project.ProjectId ? "selected" : "";
											<option value="@project.ProjectId" data-cust="@project.CustomerId" class="projectSelectOption" @selected>@project.ProjectName</option>
										}
									}
								</select>
                            </div>
						}
                    </div>
					<div class="row">
						<div class="form-group col-md-6 col-lg-6">
							<label>@Strings.StartDate</label>
							<input type="hidden" id="DateRangeStart" name="DateRangeStart" value="@Model.Selection.StartDate" />
							<input type="text" class="form-control" style="width: 90%; display: inline-block;" id="datePickerStart" />
							<span class="fa fa-fw fa-calendar" id="datePickerStartButton"></span>
						</div>
						<div class="form-group col-md-6 col-lg-6">
							<label>@Strings.EndDate</label>
							<input type="hidden" id="DateRangeEnd" name="DateRangeEnd" value="@Model.Selection.EndDate" />
							<input type="text" class="form-control" style="width: 90%; display: inline-block;" id="datePickerEnd" />
							<span class="fa fa-fw fa-calendar" id="datePickerEndButton"></span>
						</div>
					</div>
					<div class="row">
						@*<br />*@
						<div class="col-xs-12">
							@Html.Hidden("ShowExport", Model.ShowExport)
							@if (Model.ShowExport)
							{
								<div>
									<input class="btn @ViewBag.color pull-right" type="submit" name="viewDataButton" value=@Strings.Export />
								</div>
							}
							<div>
								<input class="btn @ViewBag.color pull-right" type="submit" name="viewDataButton" style="margin-right: 15px;" value=@Strings.Preview />
							</div>
						</div>
					</div>
                </div>
                @Html.Hidden("PageNum", Model.PreviewPageNum)
			}
        </div>
		<br>
	</div>

	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body" style="padding: 0px">
				@if (Model.PreviewMessage == "")
				{
					<table class="table table-hover table-condensed">
						<thead class="panel-heading">
							<tr class="double-bottom-border">
								<th>@Strings.LastName</th>
								<th>@Strings.FirstName</th>
								<th>@Strings.Date</th>
								<th>@Strings.Duration</th>
								<th>@Strings.PayClass</th>
								<th>@Strings.Project</th>
								<th>@Strings.Customer</th>
								<th>@Strings.Description</th>
							</tr>
						</thead>
						<tbody>
							@foreach (TablePreviewEntry pe in Model.PreviewEntries)
							{
								<tr class="previewRow">
									<td>@pe.TimeEntry.LastName</td>
									<td>@pe.TimeEntry.FirstName</td>
									<td>@pe.TimeEntry.Date.ToShortDateString()</td>
									<td>@pe.TimeEntry.Duration</td>
									<td>@pe.TimeEntry.PayClassName</td>
									<td>@pe.ProjectName</td>
									<td>@pe.CustomerName</td>
									<td>@pe.TimeEntry.Description</td>
								</tr>
							}

							<tr id="tableEnd" class="nohover">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<div class="pageContainer"></div>
				}
				else
				{
					<p>
						&hellip;
					</p>
				}
			</div>
			<div id="data-message" class="panel-footer">
				@Model.PreviewMessage
			</div>
		</div>

        @*<!--Preview panel-->
			<div class="panel panel-default">
				<div class="panel-heading">
					@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.LRP
					(<span id="data-view-sum">@Model.PreviewTotal</span>)
				</div>
				<div id="data-view" class="panel-body data-view">
					@if (Model.PreviewMessage == "")
					{
						<table class="table table-hover table-condensed" style="margin: 0;">
							<thead>
								<tr>
									<th>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.LastName</th>
									<th>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.FirstName</th>
									<th>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Date</th>
									<th>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Duration</th>
									<th>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.PayClass</th>
									<th>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Project</th>
									<th>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Customer</th>
									<th>@AllyisApps.Resources.TimeTracker.Views.TimeEntry.Strings.Description</th>
								</tr>
							</thead>
							<tbody id="preview-data">
								@foreach (TablePreviewEntry pe in Model.PreviewEntries)
								{
									<tr name="preview-entry">
										<td>@pe.TimeEntry.LastName</td>
										<td>@pe.TimeEntry.FirstName</td>
										<td>@pe.TimeEntry.Date.ToShortDateString()</td>
										<td>@pe.TimeEntry.Duration</td>
										<td>@pe.TimeEntry.PayClassName</td>
										<td>@pe.ProjectName</td>
										<td>@pe.CustomerName</td>
										<td>@pe.TimeEntry.Description</td>
									</tr>
	}
							</tbody>
						</table>}
					else
					{
						<p>
							&hellip;
						</p>}
				</div>
				<div id="data-message" class="panel-footer">
					@Model.PreviewMessage
				</div>
			</div>

			<!--Paging panel-->
			@using (Html.BeginForm(ActionConstants.ViewPage, ControllerConstants.TimeEntry, FormMethod.Post, htmlAttributes: new { @id = "viewPageForm" }))
			{
				<div class="panel panel-default" id="footPager" style="border: 0; display: flex; justify-content: space-around; flex-wrap: wrap;">
					@Html.Hidden("OrganizationId", Model.OrganizationId)
					@for (int u = 0; u < Model.Selection.Users.Count; u++)
					{
						@Html.Hidden(string.Format("Users[{0}]", u), Model.Selection.Users[u])
					}
					@Html.Hidden("StartDate", Model.Selection.StartDate)
					@Html.Hidden("EndDate", Model.Selection.EndDate)
					@Html.Hidden("ShowExport", Model.ShowExport)
					@Html.Hidden("CustomerSelect", Model.Selection.CustomerId)
					@Html.Hidden("ProjectSelect", Model.Selection.ProjectId)
					@for (int i = 1; i <= Model.PreviewPageTotal; i++)
					{
						if (i == Model.PreviewPageNum)
						{
							<input class="btn @ViewBag.color btn-sm" id="page @i" name="pageButton" type="button" value="@i" disabled="disabled" />
						}
						else
						{
							<input class="btn @ViewBag.color btn-sm" id="page @i" name="pageButton" type="submit" value="@i" />
						}
					}
				</div>
			}*@
    </div>
</div>

@section css {
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.comiseo.daterangepicker.css" />
}

@section scripts
{
    @*Date range picker dependencies:*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/moment")

    <script type="text/javascript">
        var model_startofweek = @Model.StartOfWeek;
        var model_startdate = @Model.Selection.StartDate.Value;
        var model_enddate = @Model.Selection.EndDate.Value;
    </script>
	<script src="~/Scripts/allyis-pages-with-filter.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/daterangepicker")
    @Scripts.Render("~/bundles/TTTimeEntryReport")
	<script type="text/javascript">
		pwf.setPageLimit(15);
		pwf.setPageButtonLimit(10);
		pwf.setRowClass("previewRow");
	</script>
}
