@using AllyisApps.ViewModels.TimeTracker.TimeEntry;
@using AllyisApps.Core;
@using AllyisApps.ViewModels.TimeTracker.Project;
@using AllyisApps.Services.Crm;

@model ReportViewModel

@{
	ViewBag.Title = Strings.Report;
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
	ViewBag.OrganizationId = Model.OrganizationId;
	Layout = "~/Areas/TimeTracker/Views/Shared/_TimeTrackerSidebar.cshtml";
	ViewData["UserId"] = Model.UserId;
	ViewData["SubscriptionId"] = Model.SubscriptionId;
	ViewData["SubscriptionName"] = Model.SubscriptionName;
}

<div class="ovrd-row row report-wrap">
	<div class="ovrd-col-md-12 col-md-12 col">
		<div class="ovrd-row row">
			@using (Html.BeginForm(ActionConstants.ViewReport, ControllerConstants.TimeEntry, FormMethod.Post, htmlAttributes: new { @id = "reportForm" }))
			{
				@Html.Hidden("OrganizationId", Model.OrganizationId)
				@Html.HiddenFor(m => m.SubscriptionId)
                <!--Get users By subscriptionUser-->
                <!--Default selection: current user-->if (Model.CanManage)// was previously: (Permissions.Can(ProductAction.TimeTrackerCreateReportOthers, Model.OrganizationId, DB Helper.Instance.GetProductIDByName("TimeTracker")))
				{
					<div class="list-left slim">
						<label for="UserSelect">@Strings.Employees</label>
						@Html.DropDownList("UserSelect",
											  Model.UserView,
											  htmlAttributes: new { @class = "ovrd-form-control form-control", multiple = "multiple", size = "9" })
					</div>
				}
				else
				{
					<div class="list-left slim" style="display: none;">
						<label for="UserSelect">@Strings.Employees</label>
						@Html.DropDownList("UserSelect",
											  Model.UserView,
											  htmlAttributes: new { @class = "ovrd-form-control form-control", /*disabled = "disabled",*/ multiple = "multiple", size = "9", style = "display: none;" })
					</div>
				}
				<div class="options-right container">
					<div class="ovrd-row row">
						<div class="ovrd-form-group form-group ovrd-col-md-6 col-md-6 ovrd-col-lg-6 col-lg-6 col">
							<!--Get Customers by OrganizationId-->
							<label for="CustomerSelect">@Strings.Customers</label>
							@Html.DropDownList("CustomerSelect",
											  Model.CustomerView,
											  htmlAttributes: new { @class = "ovrd-form-control form-control", @style = "width:85%", @id = "ddl-customers" })
						</div>

						<!-- A holder for all the projects, to draw from for populating the real selection list -->
						<select id="allprojects" style="display: none;">
							@foreach (CompleteProjectViewModel proj in Model.Projects)
							{
								<option value="@proj.ProjectId" data-cust="@proj.CustomerId" class="projectSelectOption">@proj.ProjectName</option>
							}
						</select>

						@if (Model.Selection.CustomerId == 0)
						{
							<div class="ovrd-form-group form-group ovrd-col-md-6 col-md-6 ovrd-col-lg-6 col-lg-6 col">
								<label for="ddl-projects">@Strings.Projects</label>
								<!--Get Projects by OrgID-->
								@Html.DropDownList("ProjectSelect",
											  Model.ProjectView,
											  htmlAttributes: new { @class = "ovrd-form-control form-control", @style = "width:85%", @id = "ddl-projects", @disabled = "disabled" })
							</div>
						}
						else
						{
							<div class="ovrd-form-group form-group ovrd-col-md-6 col-md-6 ovrd-col-lg-6 col-lg-6 col">
								<label for="ddl-projects">@Strings.Projects</label>
								@*@Html.DropDownList("ProjectSelect",
									Model.ProjectView,
									htmlAttributes: new { @class = "form-control", @id = "ddl-projects" })*@
								<select name="ProjectSelect" class="ovrd-form-control form-control" id="ddl-projects">
									@foreach (CompleteProjectViewModel project in Model.Projects)
									{
										if (Model.Selection.CustomerId == project.CustomerId)
										{
											string selected = Model.Selection.ProjectId == project.ProjectId ? "selected" : "";
											<option value="@project.ProjectId" data-cust="@project.CustomerId" class="projectSelectOption" @selected>@project.ProjectName</option>
										}
									}
								</select>
							</div>
						}
					</div>
					<div class="ovrd-row row">
						<div class="ovrd-form-group form-group ovrd-col-md-6 col-md-6 ovrd-col-lg-6 col-lg-6 col">
							<label style="margin-right:200px">@Strings.StartDate</label>
							<input type="hidden" id="DateRangeStart" name="DateRangeStart" value="@Model.Selection.StartDate" />
							<input type="text" class="ovrd-form-control form-control" style="width: 50%; display: inline-block;" id="datePickerStart" />
							<span class="ovrd-fa fa ovrd-fa-fw fa-fw ovrd-fa-calendar fa-calendar ovrd-fa-lg fa-lg" style="margin-top:10px;" id="datePickerStartButton" title="Choose start date"></span>
						</div>
						<div class="ovrd-form-group form-group ovrd-col-md-6 col-md-6 ovrd-col-lg-6 col-lg-6 col">
							<label style="margin-right:200px">@Strings.EndDate</label>
							<input type="hidden" id="DateRangeEnd" name="DateRangeEnd" value="@Model.Selection.EndDate" />
							<input type="text" class="ovrd-form-control form-control" style="width: 50%; display: inline-block;" id="datePickerEnd" />
							<span class="ovrd-fa fa ovrd-fa-fw fa-fw ovrd-fa-calendar fa-calendar ovrd-fa-lg fa-lg" style="margin-top:10px;" id="datePickerEndButton" title="Choose end date"></span>
						</div>
					</div>
					<div class="ovrd-row row">
						<div class="ovrd-col-xs-12 col-xs-12 col">
							@Html.Hidden("ShowExport", Model.ShowExport)
							@if (Model.ShowExport)
							{
								<div>
									<input class="ovrd-btn btn ovrd-btn-primary btn-primary pull-left" type="submit" name="viewDataButton" value=@Strings.Export title="Export Excel Time Tracker entries" />
								</div>
							}
							<div>
								<input class="ovrd-btn btn ovrd-btn-primary btn-primary pull-left" type="submit" name="viewDataButton" style="margin-left: 15px;" value=@Strings.Preview title="Preview Excel Time Tracker entries" />
							</div>
						</div>
					</div>
				</div>
				@Html.Hidden("PageNum", Model.PreviewPageNum)
			}
		</div>
		<br>
	</div>

	<div class="ovrd-col-xs-12 col-xs-12 col">
		<div class="ovrd-panel panel ovrd-panel-default panel-default">
			<div class="ovrd-panel-body panel-body" style="padding: 0px">
				@if (Model.PreviewMessage == "")
				{
					<table class="ovrd-table table ovrd-table-hover table-hover ovrd-table-condensed table-condensed">
						<thead class="ovrd-panel-heading panel-heading">
							<tr class="double-bottom-border">
								<th>@Strings.LastName</th>
								<th>@Strings.FirstName</th>
								<th>@Strings.Date</th>
								<th>@Strings.Duration</th>
								<th>@Strings.PayClass</th>
								<th>@Strings.Project</th>
								<th>@Strings.Customer</th>
								<th>@Strings.Description</th>
							</tr>
						</thead>
						<tbody>
							@foreach (TablePreviewEntry pe in Model.PreviewEntries)
							{
								<tr class="previewRow">
									<td>@pe.TimeEntry.LastName</td>
									<td>@pe.TimeEntry.FirstName</td>
									<td>@pe.TimeEntry.Date.ToShortDateString()</td>
									<td>@pe.TimeEntry.Duration</td>
									<td>@pe.TimeEntry.PayClassName</td>
									<td>@pe.ProjectName</td>
									<td>@pe.CustomerName</td>
									<td>@pe.TimeEntry.Description</td>
								</tr>
							}

							<tr id="tableEnd" class="nohover">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<div class="pageContainer"></div>
				}
				else
				{
					<p>
						&hellip;
					</p>
				}
			</div>
			<div id="data-message" class="ovrd-panel-footer panel-footer">
				@Model.PreviewMessage
			</div>
		</div>
	</div>
</div>

@section css {
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/jquery.comiseo.daterangepicker.css" />
}

@section scripts
{
	@*Date range picker dependencies:*@
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/moment")

	<script type="text/javascript">
        var model_startofweek = @Model.StartOfWeek;
        var model_startdate = @Model.Selection.StartDate.Value;
        var model_enddate = @Model.Selection.EndDate.Value;
	</script>
	<script src="~/Scripts/allyis-pages-with-filter.js" type="text/javascript"></script>
	@Scripts.Render("~/bundles/daterangepicker")
	@Scripts.Render("~/bundles/TTTimeEntryReport")
	<script type="text/javascript">
		pwf.setPageLimit(15);
		pwf.setPageButtonLimit(10);
		pwf.setRowClass("previewRow");
	</script>
}