@using AllyisApps.Areas.TimeTracker.Core;
@using AllyisApps.ViewModels.TimeTracker.TimeEntry;
@using AllyisApps.Services.Auth;
@using AllyisApps.Utilities;
@using System.Configuration;
@model ReviewViewModel

@{
	ViewBag.Title = Strings.Review;
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
	ViewData["UserId"] = Model.UserId;
	ViewData["SubscriptionId"] = Model.SubscriptionId;
	ViewData["SubscriptionName"] = Model.SubscriptionName;
}

<div class="panel panel-default">
	<div class="panel-heading row" style="margin: 0; padding-left: 0; padding-right: 0;">
		<div class="col-xs-8"><h2 class="panel-title">Time Entries for:</h2></div>
		<div class="col-xs-4">
			<div id="review-range" class="pull-right" style="display: inline; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
				<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
				<span></span> <b class="caret"></b>
			</div>
		</div>
	</div>
	<table class="table table-hover table-condensed table-responsive">
		<thead>
			<tr class="double-bottom-border">
				<th><input type="checkbox" class="check-all" check-all-tier="0"></th>
				<th></th>
				<th>Name</th>
				@foreach (string payClassName in Model.PayClasses.Select(x => x.PayClassName))
				{
					<th>@payClassName</th>
				}
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			@foreach (int number in new int[] { 2, 3, 4, 5 })
			{
				<tr>
					<td><input type="checkbox" class="check check-all" check-tier="0" check-all-tier="@number"></td>
					<td><i class="fa fa-chevron-down toggle-on-click toggle-row-display-controller" rowId=@number style="cursor:pointer"></i></td>
					<td>Luke</td>
					@foreach (string payClassName in Model.PayClasses.Select(x => x.PayClassName))
					{
						<td>8</td>
					}
					<td>57</td>
				</tr>
				foreach (int timeEntry in new int[] { 2, 3, 4, 5 })
				{
					<tr class="toggle-row-display hidden" rowId=@number>
						<td></td>
						<td><input type="checkbox" class="check" check-tier="@number"></td>
						<td>9/1/2017</td>
						@foreach (string payClassName in Model.PayClasses.Select(x => x.PayClassName))
						{
							<td>
								Hours
							</td>
						}
						<td>8</td>
					</tr>
				}
			}
			<tr class="nohover" id="tableEnd">
				<td></td>
				<td></td>
				@foreach (var payClassName in Model.PayClasses) { <td></td> }
				<td></td>
			</tr>
		</tbody>
	</table>
	<div class="pageContainer"></div>
</div>

@section css {
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
}

@section Scripts {
@*Date range picker dependencies:*@
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/moment")
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		//toggles the expand icon up or down
		$(".toggle-on-click").click(function () {
			if ($(this).hasClass("fa-chevron-down")) {
				$(this).removeClass("fa-chevron-down");
				$(this).addClass("fa-chevron-up");
			} else {
				$(this).removeClass("fa-chevron-up");
				$(this).addClass("fa-chevron-down");
			}
		});

		$(".toggle-row-display-controller").click(function () {
			var rows = $(".toggle-row-display[rowId='" + $(this).attr("rowId") + "']");
			if (rows.hasClass("hidden")) {
				rows.removeClass("hidden");
			} else {
				rows.addClass("hidden")
			}
		});

		$(".check-all").change(function () {
			if ($(this).is(":checked")) {
				$(".check[check-tier=" + $(this).attr("check-all-tier") + "]").prop("checked", true).change();
			} else {
				$(".check[check-tier=" + $(this).attr("check-all-tier") + "]").prop("checked", false).change();
			}
		});

		$(function () {
			var start = moment(@(Model.StartDate.ToUniversalTime().Subtract(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds));
			var end = moment(@(Model.EndDate.ToUniversalTime().Subtract(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds));

			function cb(start, end) {
				$('#review-range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
			}

			$('#review-range').daterangepicker({
				locale: "us",
				startDate: start,
				endDate: end,
				ranges: {
					'Today': [moment(), moment()],
					'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
					'Last 7 Days': [moment().subtract(6, 'days'), moment()],
					'Last 30 Days': [moment().subtract(29, 'days'), moment()],
					'This Month': [moment().startOf('month'), moment().endOf('month')],
					'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				}
			}, cb);

			cb(start, end);
		});

		$("#review-range").on("apply.daterangepicker", function (dre, picker) {
			var newForm = jQuery('<form>', {
				'action': '/timetracker/@Model.SubscriptionId/timeentry/review',
				'target': '_top',
				'method': 'get'
			}).append(jQuery('<input>', {
				'name': 'StartDate',
				'value': picker.startDate.toISOString(),
				'type': 'hidden'
			})).append(jQuery('<input>', {
				'name': 'EndDate',
				'value': picker.endDate.toISOString(),
				'type': 'hidden'
			}));
			newForm.appendTo(document.body).submit();
		});
	});
</script>
}
