@using AllyisApps.ViewModels.TimeTracker.TimeEntry;
@model SettingsOvertimeViewModel
@{
	ViewBag.TitleBar = Strings.Settings;
	ViewBag.Title = Strings.Overtime;
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
	Layout = "~/Areas/TimeTracker/Views/Shared/_TimeTrackerSidebar.cshtml";
	ViewData["UserId"] = Model.UserId;
	ViewData["SubscriptionId"] = Model.SubscriptionId;
	ViewData["SubscriptionName"] = Model.SubscriptionName;
	bool overTimeUsed = Model.OvertimeHours > 0;
}

<div class="container">
	<div class="row slim">
		<div class="col-sm-2">
			@Html.Partial("_ManageSettingSideBar")
		</div>
		<div class="col-sm-10">
			<div class="panel panel-info" style="position: relative;">
				<div class="panel-heading">
					<h1 class="panel-title">@Strings.Overtime</h1>
				</div>
				<div id="Overtime" class="panel-body">
					@using (Html.BeginForm(ActionConstants.UpdateOvertime, ControllerConstants.TimeEntry, FormMethod.Post, new { enctype = "multipart/form-data" }))
					{
						@Html.AntiForgeryToken();
						@Html.HiddenFor(m => m.SubscriptionId)
						<div id="OTCheck" style="margin:10px">
							<input type="radio" name="setting" id="setting" value="Yes" onclick="hideOT(false)" @(overTimeUsed ? " checked" : string.Empty) /><text> @Strings.Yes</text>
							<input type="radio" name="setting" id="setting" value="No" onclick="hideOT(true)" @(!overTimeUsed ? " checked" : string.Empty) /><text> @Strings.No</text>
						</div>
						<div id="OTSettings" style="visibility: @(overTimeUsed ? "visible" : "hidden")">
							<div style="margin:10px">
								@Strings.After
								<input type="text" id="hours" name="hours" value='@(Model.OvertimeHours < 0 ? 40 : Model.OvertimeHours)' class="form-control" style="width: 45px; text-align: center; display: inline-block;" /> @Strings.HoursPer
								<select id="period" name="period" class="form-control" value='@Model.OvertimePeriod' style="display: inline-block; width: 100px;">
									<option value="Day" @(Model.OvertimePeriod == "Day" ? " selected=true" : string.Empty)>@Strings.Day</option>
									<option value="Week" @(Model.OvertimePeriod == "Week" ? " selected=true" : string.Empty)>@Strings.Week</option>
									<option value="Month" @(Model.OvertimePeriod == "Month" ? " selected=true" : string.Empty)>@Strings.Month</option>
								</select><br />
							</div>
							<div style="margin:10px">
								@Strings.WithAMultiplierOf
								<input type="text" id="mult" name="mult" value='@Model.OvertimeMultiplier.ToString("G10")' class="form-control" style="width: 50px; text-align: center; display: inline-block;" />
							</div>
						</div>
						<div>
							<input class="btn btn-primary tt-bottom-right" type="submit" value=@Strings.Save />
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>


@section scripts{
	<script>
		function hideOT(hideIt) {
			$('#OTSettings').css('visibility', hideIt ? 'hidden' : 'visible');
		}
	</script>
}