@using AllyisApps.ViewModels.TimeTracker.TimeEntry;
@using AllyisApps.Core;
@using AllyisApps.Services;
@using AllyisApps.Services.TimeTracker;
@model SettingsLockDateViewModel

@{
	ViewBag.Title = Strings.LockDate;
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
	Layout = "~/Areas/TimeTracker/Views/Shared/_TimeTrackerSidebar.cshtml";
	ViewData["UserId"] = Model.UserId;
	ViewData["SubscriptionId"] = Model.SubscriptionId;
	ViewData["SubscriptionName"] = Model.SubscriptionName;
}

@section css {
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
}
<div class="ovrd-row row container">

	<div class="ovrd-col-sm-2 col-sm-2 col">
		@Html.Partial("_ManageSettingSideBar")
	</div>
	<div class="ovrd-col-md-10 col-md-10 col">
		<div class="ovrd-panel panel ovrd-panel-info panel-info" style="position: relative; padding-bottom: 40px;" @*style="width: 400px; margin: 10px auto;"*@>
			<div class="ovrd-panel-heading panel-heading">
				<h1 class="ovrd-panel-title panel-title">@Strings.LockDate</h1>
			</div>
			<div class="ovrd-panel-body panel-body" id="LockDate">
				@using (Html.BeginForm(ActionConstants.SetLockDate, ControllerConstants.TimeEntry, new { subscriptionId = Model.SubscriptionId, id = Model.UserId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
					@Html.AntiForgeryToken();
					<div id="NoLockDate" style="margin: 10px">
						<input type="radio" name="LDsetting" id="LDsetting" value="false" onclick="disableLD(true)" @(!Model.Settings.IsLockDateUsed ? " checked" : string.Empty) /><text> @Strings.NoLockDate</text>
					</div>
					<div id="LockDate" style="margin: 10px">
						<input type="radio" name="LDsetting" id="LDsetting" value="true" onclick="disableLD(false)" @(Model.Settings.IsLockDateUsed ? " checked" : string.Empty) /><text> @Strings.UseLockDate</text>
						<input type="text" id="LDquantity" name="LDquantity" value="@Model.Settings.LockDateQuantity" class="ovrd-form-control form-control" style="width: 45px; text-align: center; display: inline-block;" />
						<select id="LDperiod" name="LDperiod" class="ovrd-form-control form-control" value='@(Model.Settings.LockDatePeriod)' style="width: 100px; display: inline-block;">
							<option value="1" @(Model.Settings.LockDatePeriod == (int)LockDatePeriodEnum.days ? " selected=true" : string.Empty)>@Strings.Days</option>
							<option value="2" @(Model.Settings.LockDatePeriod == (int)LockDatePeriodEnum.weeks ? " selected=true" : string.Empty)>@Strings.Weeks</option>
							<option value="3" @(Model.Settings.LockDatePeriod == (int)LockDatePeriodEnum.months ? " selected=true" : string.Empty)>@Strings.Months</option>
						</select>
					</div>
					<div>
						<input class="tt-bottom-right ovrd-btn btn ovrd-btn-primary btn-primary" type="submit" value=@Strings.Save />
					</div>
			}
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		var model_holiday = "";
		deletePayClassWarning = "@Html.Raw(Strings.ConfirmDeletePayClass)";
		deleteHolidayWarning = "@Html.Raw(Strings.ConfirmDeleteHoliday)";

		mergePayClassUrl = "@Url.Action(ActionConstants.MergePayClass , ControllerConstants.TimeEntry, new { subscriptionId = ViewData["SubscriptionId"], userId = -1 })";
		deletePayClassUrl = "@Url.Action(ActionConstants.DeletePayClass, ControllerConstants.TimeEntry, new { subscriptionId = ViewData["SubscriptionId"], userId = -1 })";
		deleteHolidayUrl = "@Url.Action(ActionConstants.DeleteHoliday , ControllerConstants.TimeEntry, new { subscriptionId = Model.SubscriptionId, id = Model.UserId, HolidayId = -1 })";

		function populateHolidayForSelectedYear(year)
		{
			@foreach (var yearC in Model.Holidays.Select(m => m.Date.Year).Distinct())
			{
				<text>
					if (@yearC != year) {
						$('.' + @yearC).hide();
						$('#' + @yearC).css("font-weight", "Normal");
					}
					else {
						$('.' + @yearC).show();
						$('#' + @yearC).css("font-weight", "Bold");
					}
				</text>
			}
		};

		$('document').ready(function () {
			populateHolidayForSelectedYear(@DateTime.Now.Year);
			document.getElementById("datePickerHoliday").val = @Model.Settings.Today;
		});
	</script>
	@Scripts.Render("~/bundles/jqueryui");
	@Scripts.Render("~/bundles/moment")
	<script src="~/Scripts/allyis-holidayDatepicker.js"></script>

	@Scripts.Render("~/bundles/TTTimeEntrySettings")
}