@model AllyisApps.Areas.StaffingManager.ViewModels.Staffing.ApplicationInfoViewModel

@{

}

<div class="row panel">
	<div>	
		<div class="col-md-2 sm-control-width"><!--vvv - TODO: change that to Applicant Link   -->
			<a href="@Url.Action(ActionConstants.Index, ControllerConstants.Staffing, new { subscriptionId = ViewBag.subscriptionId } )">@Model.ApplicantName</a>
			<br>
			Notes:
			<button type="button" data-toggle="collapse" data-target="#NotesArea"><i class="glyphicon glyphicon-chevron-down"></i></button>
		</div>
		<div class="col-md-3">
			Email: @Model.ApplicantEmail
			<br>
			@Model.ApplicantAddress
		</div>
		<div class="col-md-2 sm-control-width">
			<a href="@Url.Action(ActionConstants.Index, ControllerConstants.Staffing, new { subscriptionId = ViewBag.subscriptionId } )"><i class="glyphicon glyphicon-file"></i></a>
			<span>@Model.AppliationStatusId</span>
			<br>
			Last Modified: @Model.ApplicationModifiedUTC
		</div>
	</div>
	<br>
	<div class="panel panel-Default collapse" id="NotesArea">
		@Model.Notes
	</div>
</div>