@model AllyisApps.Areas.StaffingManager.ViewModels.Staffing.EditPositionViewModel
@{
	string action = ActionConstants.EditPosition;
	if (Model.IsCreating)
	{
		action = ActionConstants.SubmitCreatePosition;
	}
}


@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/moment")
<script src="~/Scripts/allyis-pages-with-filter.js" type="text/javascript"></script>
@Scripts.Render("~/bundles/daterangepicker")

<div class="shrink-wrap-center">
	<div>
		@using (Html.BeginForm(action, ControllerConstants.Staffing, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
			<div class="row">
				<div class="col-md-6 sm-control-width">
					<h3>Position Info</h3>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.PositionTitle, "Position Title")
						@Html.TextBoxFor(m => m.PositionTitle, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.PositionTitle, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						<label>Start Date</label>
						@Html.HiddenFor(m => m.StartDate)
						@Html.TextBoxFor(m => m.StartDate, new { @class = "updatable datepicker form-control item-control", Value = Model.PositionCreatedUtc})
						<span class="fa fa-fw fa-calendar" id="datePickerButton"></span>
						@Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.TeamName, Strings.TeamName)
						@Html.TextBoxFor(m => m.TeamName, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.TeamName, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.PositionCount, "Position Count")
						@Html.TextBoxFor(m => m.PositionCount, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.PositionCount, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.HiringManager, Strings.HiringManager)
						@Html.TextBoxFor(m => m.HiringManager, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.HiringManager, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.EmploymentTypeId, "Employment Type")
						@Html.DropDownListFor(m => m.EmploymentTypeId, new SelectList(Model.EmploymentTypes, "EmploymentTypeId", "EmploymentTypeName"), Strings.DropDownEmpty, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.EmploymentTypeId, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.PositionStatusId, "Position Status")
						@Html.DropDownListFor(m => m.PositionStatusId, new SelectList(Model.PositionStatuses, "PositionStatusId", "PositionStatusName"), Strings.DropDownEmpty, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.PositionStatusId, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.PositionLevelId, "Position Level")
						@Html.DropDownListFor(m => m.PositionLevelId, new SelectList(Model.PositionLevels, "PositionLevelId", "PositionLevelName"), Strings.DropDownEmpty, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.PositionLevelId, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.RequiredSkills, "Required Skills")
						@Html.TextBoxFor(m => m.RequiredSkills, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.RequiredSkills, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.JobResponsibilities, Strings.JobResponsibilities)
						@Html.TextBoxFor(m => m.JobResponsibilities, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.JobResponsibilities, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.DesiredSkills, Strings.DesiredSkills)
						@Html.TextBoxFor(m => m.DesiredSkills, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.DesiredSkills, "", new { @class = "text-danger" })
					</div>
					@if (Model.IsCreating)
					{
					}
					<div class="form-group">
						@Html.ReqLabelFor(m => m.DurationMonths, Strings.DurationMonths)
						@Html.TextBoxFor(m => m.DurationMonths, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.DurationMonths, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.BillingRateFrequency, "Billing Rate Frequency (make drop-down)")
						@Html.TextBoxFor(m => m.BillingRateFrequency, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.BillingRateFrequency, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.BillingRateAmount, "Billing Rate Amount (make drop-down)")
						@Html.TextBoxFor(m => m.BillingRateAmount, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.BillingRateAmount, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="col-md-6 sm-control-width">
					<h3>Address Info</h3>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.Address, Strings.Address)
						@Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.Country, Strings.Country)
						@Html.DropDownListFor(m => m.SelectedCountryCode, new SelectList(Model.LocalizedCountries, "Key", "Value"), Strings.DropDownEmpty, new {@id = ViewConstants.DdlCountriesId , @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
					</div>
					<!--<div class="form-group">
						Html.ReqLabelFor(m => m.State, Strings.State)
						Html.DropDownListFor(m => m.SelectedStateId, new SelectList(Model.LocalizedStates, "Key", "Value"), Strings.DropDownEmpty, new { id = ViewConstants.DdlStatesId, class = "form-control" })
						Html.ValidationMessageFor(m => m.State, "", new { class = "text-danger" })
					</div> -->
					<div class="form-group">
						@Html.ReqLabelFor(m => m.City, Strings.City)
						@Html.TextBoxFor(m => m.City, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(m => m.PostalCode, Strings.PostalCode)
						@Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
					</div>
					<h3>Customer Info</h3>
					<div class="form-group">
						@Html.ReqLabelFor(model => model.CustomerName, Strings.Name)
						@Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.CustomerName, string.Empty, new { @class = "text-danger" })
					</div>
					<div class="form-group">
						@Html.ReqLabelFor(model => model.CustomerContactEmail, Strings.ContactEmail)
						@Html.EditorFor(model => model.CustomerContactEmail, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.CustomerContactEmail, string.Empty, new { @class = "text-danger" })
					</div>

					<div class="form-group">
						@Html.ReqLabelFor(model => model.CustomerContactPhoneNumber, Strings.ContactPhoneNumber)
						@Html.EditorFor(model => model.CustomerContactPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.CustomerContactPhoneNumber, string.Empty, new { @class = "text-danger" })
					</div>

					<div class="form-group">
						@Html.ReqLabelFor(model => model.CustomerFaxNumber, Strings.FaxNumber)
						@Html.EditorFor(model => model.CustomerFaxNumber, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.CustomerFaxNumber, string.Empty, new { @class = "text-danger" })
					</div>

					<div class="form-group">
						@Html.ReqLabelFor(model => model.CustomerEIN, Strings.EIN)
						@Html.EditorFor(model => model.CustomerEIN, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.CustomerEIN, string.Empty, new { @class = "text-danger" })
					</div>

					@Html.HiddenFor(m => m.AddressId)
					@Html.HiddenFor(m => m.OrganizationId)
					@Html.HiddenFor(m => m.IsCreating)
				</div>
			</div>

			<div class="form-group allyis-action-buttons">
				@if (Model.IsCreating)
                {
                    <a href="@Url.Action(ActionConstants.Index, ControllerConstants.Staffing, null)" new { class = "btn btn-default" }>
                        @Strings.Cancel
                    </a>
                }
                else
                {
                    <a href="@Url.Action(ActionConstants.Index, ControllerConstants.Staffing, new { id = Model.OrganizationId })" new { class = "btn btn-default" }>
                        @Strings.Cancel
                    </a>
                }
				<input type="submit" href="@Url.Action(ActionConstants.SubmitCreatePosition, ControllerConstants.Staffing, new { model = Model, subscriptionId = Model.SubscriptionId })" class="btn btn-primary" id="submit"  />
			</div>
		}
	</div>
	@if (Model != null && !Model.IsCreating)
    {
        using (Html.BeginForm(ActionConstants.DeletePosition, ControllerConstants.Staffing, new { id = Model.OrganizationId }, FormMethod.Post, new { @onsubmit = String.Format("return confirm(\"{0}\")", Html.Raw(Strings.ConfirmDeleteOrg)) }))
        {
			@Html.AntiForgeryToken()
			<input type="submit" value="@Strings.DeletePosition" class="btn btn-danger" style="margin-bottom: 15px;" id="submitDelete" />
        }
    }
</div>


<script>
	function setDatePickers() {
		console.log('setting date picker');
		$('.datepicker').each(function () {
			$(this).datepicker({
				changeMonth: true,
				changeYear: true
			});
		});
	}

	setDatePickers();
</script>

