@using AllyisApps.Areas.StaffingManager.ViewModels.Staffing
@using AllyisApps.Services.Expense
@using AllyisApps.ViewModels.ExpenseTracker.Expense
@using HtmlHelpers.BeginCollectionItem

@model ApplicationDocumentViewModel

<div class="file-input" id="@String.Format("file-input_{0}", Model.Index)">
	@using (Html.BeginCollectionItem("model.ApplicationDocuments"))
	{
		<div style="display: inline-block;">
			@{
				string className = String.Format("file_{0}", Model.Index);
				string uploadFunc = String.Format("$('input[class={0}]').click();", className);
				string hiddenName = String.Format("upload-file_{0}", Model.Index);
				string inputName = String.Format("upload-file-name-display_{0}", Model.Index);
			}
			@Html.HiddenFor(m => m.InputStream, new { id = hiddenName, @class = className, @type = "file", style = "display: none;", onchange = String.Format("setName('{0}', '{1}');", hiddenName, inputName) })
			@Html.TextBoxFor(m => m.DocumentName, new { id = inputName, @class = "form-control", style = "width: 210px; display: inline-block;" })
			@*<input type="file" id="" class="@className" name="model.ApplicationDocuments" style="display:none;"
				   onchange="$('#@inputName').val($(this).val().replace('C:\\fakepath\\', ''));" />
			<input id="@inputName" class="form-control item-control" style="width: 210px; display: inline-block;" value="@Model.DocumentName"
				   onchange="$('#@inputName').val($(this).val().replace('C:\\fakepath\\', ''));" />*@
		</div>
		<div class="file-right" style="float: right;">
			<a onclick="@uploadFunc" title="Choose Excel file containing Expense Tracker entries">
				<span class="btn btn-default btn-group-sm">@Strings.ChooseFile</span>
			</a>
			<a class="btn btn-danger btn-fa hidden-create pull-right"
			   onclick="removeFile(@Model.Index)"
			   style="color: white !important; float: right; width: 34px; border-color: #d43f3a !important; border-radius: 0px; margin-right: 0px; display: inline-block">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</a>
		</div>
	}
</div>