@model AllyisApps.Areas.StaffingManager.ViewModels.Staffing.StaffingApplicationViewModel

@{
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/StaffingManager/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/StaffingManager";
	ViewBag.Title = "Create Application";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Application</title>
</head>
<body>
	@using (Html.BeginForm("Application", "Staffing", FormMethod.Post))
	{
		<div class="panel panel-default pull-left" style="width: 300px;">
			@Html.HiddenFor(m => m.ApplicantId)
			@Html.AntiForgeryToken()
			<div>
				@Html.LabelFor(m => m.Notes, new { style = "display: inline-block;" })
				@Html.TextBoxFor(m => m.Notes, new { @class = "form-control", style = "width: 150px; display: inline-block;" })
			</div>
			<div>
				@Html.LabelFor(m => m.PositionId, "Position", new { style = "display: inline-block;" })
				@Html.DropDownListFor(m => m.PositionId, Model.PositionList, new { @class = "form-control", style = "width: 150px; display: inline-block;" })
			</div>
		</div>
		<div class="pull-right" style="clear: both;">
			@Html.ActionLink("Cancel", "Index", new { }, new { @class = "btn btn-danger", type = "buttom", value = "Cancel", style = "display: inline-block; color: white !important; border-color: maroon !important;" })
			<input class="btn btn-primary" type="submit" value="Submit" />
		</div>
	}
</body>
</html>
