@model AllyisApps.ViewModels.CustomerInfoViewModel

@{
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
	ViewBag.Title = AllyisApps.Resources.TimeTracker.Views.Customer.Strings.CustomerDetails;
}

<div>
	<h4>@AllyisApps.Resources.TimeTracker.Views.Customer.Strings.Details</h4>
	<hr />
	<dl class="dl-horizontal"></dl>
	<table class="allyis-table">
		<tr>
			<td>@Html.ReqLabelFor(m => m.CustomerInfo.Name, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.Name)</td>
			<td>@Html.DisplayFor(m => m.CustomerInfo.Name)</td>
		</tr>
		<tr>
			<td>@Html.ReqLabelFor(m => m.CustomerInfo.Address, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.Address)</td>
			<td>@Html.DisplayFor(m => m.CustomerInfo.Address)</td>
		</tr>
		<tr>
			<td>@Html.ReqLabelFor(m => m.CustomerInfo.Country, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.Country)</td>
			<td>@Html.DisplayFor(m => m.CustomerInfo.Country)</td>
		</tr>
		<tr>
			<td>@Html.ReqLabelFor(m => m.CustomerInfo.State, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.State)</td>
			<td>@Html.DisplayFor(m => m.CustomerInfo.State)</td>
		</tr>
		<tr>
			<td>@Html.ReqLabelFor(m => m.CustomerInfo.City, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.City)</td>
			<td>@Html.DisplayFor(m => m.CustomerInfo.City)</td>
		</tr>
		<tr>
			<td>@Html.ReqLabelFor(m => m.CustomerInfo.PostalCode, AllyisApps.Resources.TimeTracker.Views.Customer.Strings.PostalCode)</td>
			<td>@Html.DisplayFor(m => m.CustomerInfo.PostalCode)</td>
		</tr>
	</table>

</div>

