@model AllyisApps.ViewModels.Auth.ResetPasswordViewModel
@{
	Layout = "~/Views/Shared/_LayoutJustAForm.cshtml";
	ViewBag.Title = AllyisApps.Resources.Views.Account.Strings.ResetPassword;
}

@using (Html.BeginForm(ActionConstants.ResetPassword, ControllerConstants.Account, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Code)
	@Html.HiddenFor(m => m.UserId)
	<div class="form-group">
		@Html.ReqLabelFor(m => m.Password)
		@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.ReqLabelFor(m => m.ConfirmPassword)
		@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
	</div>
	<div class="form-group allyis-action-buttons">
		<input type="submit" class="btn btn-primary" value=@AllyisApps.Resources.Views.Account.Strings.Reset />
	</div>
}
