@model AllyisApps.ViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutJustAForm.cshtml";
    ViewBag.Title = AllyisApps.Resources.Views.Account.Strings.ForgotPasswordViewTitle;
    ViewBag.Description = AllyisApps.Resources.Views.Account.Strings.EnterYourEmail;
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.ReqLabelFor(m => m.Email, AllyisApps.Resources.Views.Account.Strings.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group allyis-action-buttons">
        @Html.ActionLink(AllyisApps.Resources.Views.Account.Strings.Cancel, "Index", "Account", null, new { @class = "btn btn-default" })
        <!--@Html.ActionLink(AllyisApps.Resources.Views.Account.Strings.Send, "ForgotPasswordConfirmation", "Account", null, new { @class = "btn btn-primary" })!-->
        <input type="submit" value="@AllyisApps.Resources.Views.Account.Strings.Send" class="btn btn-primary" />

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}