<link href="~/Content/flex_box.css" rel="stylesheet" />
@using AllyisApps.Services;
<style>
	div .quad {
		flex-grow: 1;
		flex-basis: 1px;
		padding-bottom: 50px;
	}

	div .aligner {
		align-items: center;
		justify-content: center;
		display: flex;
	}
</style>
<div style="display: flex; border-bottom: solid 1px">
	<div class="quad" style="border-right:solid 1px">
		<div class="aligner">
			<h2>@Strings.TimeTracker</h2>
		</div>
		<div class="aligner">
			<a href=@Url.Action(ActionConstants.RouteProduct, ControllerConstants.Home, new { ProductId = (int)ProductIdEnum.TimeTracker })>
				<img src="~/Content/icons/TimeTracker.png" />
			</a>
		</div>
	</div>
	<div class="quad">
		<div class="aligner"><h2>@Strings.Invoice</h2></div>
		<div class="aligner"><img src="~/Content/icons/invoice.png" /></div>
		<div class="aligner"><i>@Strings.ComingSoon</i></div>
	</div>
</div>
<div style="display:flex">
	<div class="quad" style="border-right: solid 1px; ">
		<div class="aligner"><h2> @Strings.Expense</h2></div>
		<div class="aligner"><img src="~/Content/icons/expense.png" /></div>
		<div class="aligner"><i>@Strings.ComingSoon</i></div>
	</div>
	<div class="quad">
		<div class="aligner"><h2> @Strings.Tasks</h2></div>
		<div class="aligner"><img src="~/Content/icons/tasks-list.png" /></div>
		<div class="aligner"><i>@Strings.ComingSoon</i></div>
	</div>
</div>
