@using AllyisApps.ViewModels.TimeTracker.Project;
@model EditProjectViewModel

@{
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
	DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
	string actionName = (string)ViewContext.Controller.ValueProvider.GetValue("action").RawValue;
	string controllerName = (string)ViewContext.Controller.ValueProvider.GetValue("controller").RawValue;
	ViewBag.Title = Strings.CreateProject;
	ViewBag.Subtitle = Model.CustomerName;
	ViewData["UserId"] = Model.UserId;
	ViewData["SubscriptionId"] = Model.SubscriptionId;
	ViewData["SubscriptionName"] = Model.SubscriptionName;
	ViewData.Add(ControllerConstants.Controller, ControllerConstants.Project);
	ViewData.Add(ActionConstants.Action, ActionConstants.Create);
}

<div>
    @{Html.RenderPartial("_ProjectEdit", Model, ViewData);}
</div>

@section css {
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.comiseo.daterangepicker.css" />
}

@section Scripts {
    @*Date range picker dependencies*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/moment")

    <script type="text/javascript">
        var mindate_shortstring = "@DateTime.MinValue.ToShortDateString()";
        var maxdate_shortstring = "@DateTime.MaxValue.ToShortDateString()";
        var model_startdate = @Model.StartDate;
        var model_enddate = @Model.EndDate;
    </script>
    @Scripts.Render("~/bundles/daterangepicker")
    @Scripts.Render("~/bundles/TTProjectEditCreate")
}