@using AllyisApps.ViewModels.TimeTracker.Project;
@model CompleteProjectViewModel

@{
	DisplayHints.BreadcrumbNavPartialLocation = "~/Areas/TimeTracker/Views/Shared/_BreadcrumbNavPartial.cshtml";
	ViewData["IsManager"] = Model.CanEditProject;
	DisplayHints.LayoutThemeBundle = "~/Content/Timetracker";
	ViewBag.Title = Strings.ProjectDetails;
}

<div class="ovrd-row row">
	<div class="ovrd-col-xs-10 col-xs-10 ovrd-col-xs-push-1 col-xs-push-1 ovrd-col-sm-8 col-sm-8 ovrd-col-sm-push-2 col-sm-push-2 ovrd-col-md-6 col-md-6 ovrd-col-md-push-2 col-md-push-3 col">
		<div class="ovrd-form-group form-group">
			@Html.LabelFor(m => m.ProjectName, @Strings.Name)
			<div id="projectName">@Model.ProjectName</div>
		</div>
		<div class="ovrd-form-group form-group">
			@Html.LabelFor(m => m.ProjectOrgId, Strings.ProjectOrgId)
			<div id="projectOrgId">@Model.ProjectOrgId</div>
		</div>
		<div class="ovrd-form-group form-group ovrd-row row" style="margin-bottom: 0px; margin-top: 15px;">
			<div class="ovrd-col-xs-6 col-xs-6 col text-left">
				<label for="daterange" style="text-align:center">@Strings.DateRange</label>
			</div>
			<div class="ovrd-col-xs-6 col-xs-6 col text-right">
				<label for="price" style="text-align:center">@Strings.PriceType</label>
			</div>
		</div>
		<div class="ovrd-row row">
			<div class="ovrd-col-xs-8 col-xs-8 col text-left">
				@{
					string startDateString = "";
					if (Model.StartDate.HasValue)
					{
						startDateString = Model.StartDate.Value.ToShortDateString();
					}

					string endDateString = "";
					if (Model.EndDate.HasValue)
					{
						endDateString = Model.EndDate.Value.ToShortDateString();
					}
				}
				<span id="projectDate">@startDateString - @endDateString</span>
			</div>

			@{
				<div class="ovrd-col-xs-4 col-xs-4 col text-right">
					<span id="projectDate">@Model.PriceType</span>
				</div>
			}
		</div>
		<div class="text-right" style="padding-top: 15px; padding-bottom: 15px;">
			<input type="button" class="ovrd-btn btn ovrd-btn-default btn-default" value="@Strings.ProjectList" onclick="location='@Url.Action(ActionConstants.Index, ControllerConstants.Customer)'" />
			@if (Model.CanEditProject)
			{
				<input type="button" value=@Strings.Edit class="ovrd-btn btn ovrd-btn-primary btn-primary" onclick="location='@Url.Action(ActionConstants.Edit, ControllerConstants.Project, new { id = Model.ProjectId })'" />
			}
		</div>
	</div>
</div>